<div class="span6 ">
  <div class="profile_sidebar">
    <div class="sidebar_box sidebar_number">
      <% cnt = @profile.user.project.count %>
      <div class="head"><h1>Recent Activity</h1></div>
      <strong><%= cnt %></strong>
      <div>You currently have <span><%=cnt%> active bids</span></div>
    </div>
  </div>
</div>
