<% content_for :top_banner do %>
  <div class="container">
    <%= render '/notifications/header' %>
  </div>
<% end %>
<div class="track-page track-projects-page row ">
  <%= render '/notifications/sidebar' %>
  <div class="span12 ">
    <div class="conversation_full">  
      <%= render :partial => 'conversation_full', :locals =>{:conversation => @conversation} %>
    </div>
  </div>
</div>
