/**
 * http://www.colorjack.com/?swatch=000985,2A2E5E,85004B,5E2A48,008539,2A5E41
 * #000985
 * #2A2E5E
 * #85004B
 * #5E2A48
 * #008539
 * #2A5E41
 **/
.brand_header {
  padding: 1em;
  margin-bottom: 1em;
  color: white;

  background: #2A2E5E; /* Old browsers */
  background-image: linear-gradient(top, rgb(0,9,133) 87%, rgb(42,46,94) 56%);
  background-image: -o-linear-gradient(top, rgb(0,9,133) 87%, rgb(42,46,94) 56%);
  background-image: -moz-linear-gradient(top, rgb(0,9,133) 87%, rgb(42,46,94) 56%);
  background-image: -webkit-linear-gradient(top, rgb(0,9,133) 87%, rgb(42,46,94) 56%);
  background-image: -ms-linear-gradient(top, rgb(0,9,133) 87%, rgb(42,46,94) 56%);

  background-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    color-stop(0.87, rgb(0,9,133)),
    color-stop(0.56, rgb(42,46,94))
  );
}

.brand_header .header_container {
  position: relative;
}
.brand_header a {
  color: white;
  font-weight: bold;
}
.brand_header h1 {
  font-family: serif;
  font-size: 28px;
  font-weight: lighter;
}
.brand_header h1 a {
  text-decoration: none;
}
.brand_header h1 a:hover {
  color: inherit;
  background-color: inherit;
}
.brand_header .user_nav {
  position: absolute;
  right: 0;
  top: 0;
}

.message {
  padding: 0.5em;
  font-weight: bold;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.message.alert {
  background-color: #E44;
  color: #EEE;
}
.message.notice {
  background-color: #EE4;
  color: #444;
}
.container_12 .grid_1point5 {
  width: 90px;
}
label {
  font-size: 0.8em;
  font-weight: bold;
}
