<% content_for :salutation do %>Hi <%= @receiver.name %><% end %>

<% if @notification.notification_type.present? %>
  <% content_for :top_head, "Welcome!" %>
  <%= render '/notifications/' + @notification.notification_type.to_s %>
<% else %>
  <% content_for :top_head, "You have a new notification!" %>
  <blockquote>
    <p><%= raw @notification.body %></p>
  </blockquote>
<% end %>
<p>
  <%= link_to 'View Notifications', notifications_url, :class => 'btn primary' %>
</p>
