  <div class="span16">
    <h1>
      <%= image_tag "/images/contact_person_icon.png", :alt => "Avatar", :width => "16px", :height => "16px" %>
      My Notifications
    </h1>
    <%= render '/activity/tabs' %>
  </div>
