<h1>About Us</h1>
  <p>Builders Bid Network is a central marketplace that was created to give developers and contractors a more efficient way to handle the project bid process. Our comprehensive, searchable bidding network streamlines contracting, translating to less time and money spent on proposals, allowing our clients to focus on more important aspects of your business. </p> 
  <p>The depth of information available to our clients is second to none. Our extensive listing of contractors and projects is sorted by geographic area and contractor expertise, meaning that the right contractor is connected to the right job every time.</p> 
  <p>The BBN bid process is simply more effective - which benefits everyone, contractors and project owners alike.</p>
  <p>Registration with BBN is easy. Choose from two account types- Contractor, Developer - and enter an email address, password, and a few details about your company.</p>
  <p>You'll receive an email from BBN asking you to activate your account. Then you're ready to set up a profile and jump into the central marketplace of the building industry.</p>
