<h1>Questions About Subscribing</h1>
    <h3>Do I need to have an account to use BBN?</h3>
      <p>BBN allows Unregistered Users to browse limited views of company profiles and development projects posted on the site.  In order to gain complete access to the members on the site and view full detailed project descriptions, post a project or bid on an existing project, you must sign up for an account, and subscribe either as a Developer or Contractor [LINK].</p>
    <h3>What account types are available on BBN?</h3>
      <p>There are two types of accounts on BBN - Developer accounts and Contractor accounts.  Developer accounts allow for individuals and businesses to post projects, RFPs, solicit and award bids from the network of Contractors on the site. Contractor accounts allow for individuals and businesses to request bids, submit detailed bid proposals and win projects from all of the Developers listed on the site.</p>
     <h3>How much does it cost to subscribe to BBN?</h3>
      <p>Subscription Packages can be purchased in Monthly packages at $89/month or Yearly packages at $79/month.  Monthly packages enroll you for 30 days and are renewable anytime.  Yearly packages enroll the user for a 12-month package, billed monthly along with 2 FREE Bid Credits (at $100 value!)</p>  
    <h3>How do I register for BBN?</h3>
      <p>If you are a Developer[LINK] follow this link to the Developer Registration page. If you are a Contractor[LINK] follow this link to the Contractor Registration page.</p>
      <p>After you're registered, you'll receive an email from BBN asking you to activate your account. Then you're ready to set up a profile and jump into the central marketplace of the building industry.</p>
    <h3>Can I contact companies I have seen on BBN to request work on posted projects or on future projects?</h3>  
      <p>Part of the BBN User Agreement[LINK] requires that our members contact each other through the website for all posted projects.  If, through the course of business, members develop a professional relationship such that a developer chooses to directly contract with a contractor rather than engaging in a bidding process, then that falls outside the BBN purview.</p>
      <p>I didn't receive my BBN account confirmation email.</p>
      <p>You can request that another confirmation email be sent to you.</p>
        <ol>
          <li>Log in to your account</li>   
          <li>Click Notifications on your profile page</li>
          <li>Click Confirm Email Address and Request New Confirmation Number</li>
          <li>Check your email inbox for a message from BBN containing a new confirmation link</li>
        </ol> 
  <h2>Questions About My Account</h2>
    <h3>What is a profile?</h3>
      <p>Profiles are descriptions of a company, individuals or businesses and their areas of expertise.  They are important in allowing other members to find your company, see your successes, make contact with you and create strong partnerships with members of the community.  To access your profile, go to your account homepage or search for your company's name.</p>
    <h3>Who can see my BBN profile?</h3>
      <p>As a Subscribed member, anyone searching the BBN site can see your company's name, general areas of business and other basic information you wish to provide, such as number of projects you have posted or been involved in.  BBN differentiates among various levels of internal privacy or connectedness which can be customized by a Subscribed user during account creation.</p>
    <h3>What parts of my profile can be viewed on the BBN website?</h3>
      <p>When you press the Save Changes button at the bottom of your Edit Profile page or at the bottom of the Create Profile page during account registration, text or images you have put on that page can be viewed on your public profile as per your privacy settings.  These materials can be changed by you at any time by editing your profile as described below.</p>
    <h3>I forgot my password, how do I get a new one?</h3>
        <ol>
          <li>Click on the Forgot Your Password? link on the Sign In page.</li>
          <li>Enter the email address that your account is linked to in the Forgot My Password form.</li>
          <li>Check your email inbox for an email titled Password Reminder from BBN. This email should appear quickly. If it hasn't arrived within 15 minutes, check your spam folder or have the BBN website send you a new Password Reminder.</li>
          <li>Follow the link contained in the email to reset your password on the BBN site. You will have to select a new password.</li>
        </ol>
    <h3>How do I make changes to my profile?</h3>
        <ol>
          <li>Sign in to your account.</li>
          <li>From your Home/Profile page click on the Edit link, found in the upper right portion of the page.</li>
          <li>Make changes to your profile, including altering your email address, updating your company's description or selecting a new primary photo.</li>
          <li>Click the Save Changes button at the bottom of the page.</li>
        </ol>  
    <h3>What does BBN do with my account information?</h3>
      <p>BBN understands the importance of our clients' privacy.  Our Privacy Policy[LINK] provides a comprehensive explanation for how we use the information we collect.  We do not sell or rent user information.  User information is used in-house to develop use metrics so that BBN better understands who our clients are and how to better serve them.  We store client information on secure, firewall-protected servers and make use of extensive SSL encryption.  BBN may release general statistics to third-party companies, but does not release individual client information under any circumstances. </p>
    <h3>What does BBN do with my credit card information?</h3>
      <p>BBN is especially concerned about the security of client credit card information.  We never store any of your identifying credit card information.  All credit card transactions are processed by an industry leading payment gateway system.  We authorize access to personal information only for those employees who require it to fulfill their job responsibilities</p>
    <h3> How do I deactivate my account?</h3>  
      <strong>To deactivate your account:</strong>
        <ol>
          <li>Go to your Profile Page.</li>
          <li>Click on Account Settings.</li>
          <li>Select Account Status.</li>
          <li>Click on Deactivate Account.</li>
        </ol>
      <p>When you deactivate your account, your profile and all information associated with it (including active projects or active bids) disappears from the BBN site immediately. Other BBN users will not be able to search for or view any of your information.</p>
      <p>If you'd like to return to BBN later, you can reactivate your account by logging in with your email and password and selecting one of our standard membership options. Your profile will be completely restored. You will need to have access to the login email address and a valid credit card in order to reactivate your account.</p>
    <h3>How can I delete my BBN account?</h3>
      <p>If you think that you will not use the service again or the company has gone out of business and you would like your account deleted, first deactivate your account through the Account Settings, then by requesting that BBN permanently delete your account information with no option for future recovery at help@buildersbuildnetwork.</p>
    <h3>How do I know an email is from BBN?</h3>
      <p>BBN protects its clients. Any emails from BBN which contain a link will always direct you to our website and will never ask for sensitive information such as Social Security Number or bank account information. We will never ask you to randomly change your password or to verify your credit card number for an account. If there is a problem, we will contact you through the in-site messaging system so that you can access our message in the security of the site.</p>
  <h2>Questions About Creating a Project</h2>
    <h3>How do I create a new project?</h3>
      <p>Developer accounts can create new projects for bidding. To do so, you: </p>
        <ol>
          <li>Sign in to your account.</li>
          <li>From your Homepage/Profile page, click the Post a Project link in the upper right corner of the page.</li>
          <li>Fill out the information on the Post a Project page.</li>
          <li>Click the Save and Continue button at the bottom.</li>
        </ol>
      <p>Only invite bidders when you are sure the project description is complete.</p>
      <p>Tip: By setting the Open for Bidding date later than you are actually planning to open bidding, then saving your changes, you can come back to the project to make further edits before it is visible to bidders.</p>
    <h3> Can I create a project, but wait to activate it? </h3>
      <p>You can create a project, save it as a draft, and then publish it only when you're ready for it to go active.  This allows you to post the project once you're sure it's completely ready to be viewed.  You can make edits to a project once it is posted. However, once a project is Open for Bidding, you can only Cancel the project or put it On Hold, not make it "inactive" again. </p>
    <h3>How do I invite specific contractors to bid on a project?</h3>
      <p>After a project has been posted, you can invite specific contractors to bid on it either by individually inviting them from their profile pages with the Invite to Bid link at the right of their company name, or you can invite a group of them by:</p>
        <ol>
          <li>Go to the project page.</li>
          <li>In the bottom right corner there is a list of Other Contractors in Project Area.</li>
          <li>Click the Invite to Bid link next to each contractor you'd like to add.</li>
        </ol>
    <h3>Can I invite additional contractors once a project has been posted?</h3>
    <p>Once you have posted a project, you can invite additional contractors to bid on that project either with the Invite to Bid function on their company's profile page or by:
    <ol>
    <li>Go to the project page.</li>
    <li>In the bottom right corner there is a list of Other Contractors in Project Area.</li>
    <li>Click the Invite to Bid link next to each contractor you'd like to add.</li>
    </ol>
    <p>This feature allows you to invite additional contractors to bid until the end of the bid submission period.</p>
   <h3>How do I select a winning bidder?</h3>
     <p>After a project's bid submission period has ended, you can select the winning bidder by:</p> 
      <ol>
          <li>Sign in to your account.</li>
          <li>In the upper right corner of the page, click on the Track My Projects link.</li>
          <li>Select the project you want to award from the list.</li>
          <li>Go to the Bids tab.</li>
          <li>Click the Select Winning Bidder button [OR Check the box under the winning bidder and click the Make This the Winning Bid button].</li>
      </ol>
      <p>BBN will also send you an email to let you know when the bid submission period on a project is over, which contains a link directly to the Bids listing for the project, so that you can easily select a winner.</p>  
    <h3>How long do I have after the end of the bid period before I select a winning bidder?</h3>
      <p>After the bid submission period is over, you may select a winning bidder at any time.  BBN will also send you an email to let you know when the bid submission period is over, which contains a link directly to the Bids listing for the project, so that you can easily select a winner.  </p> 
    <h3>Can I delay a project once it's been posted if the project status changes?</h3>
      <p>You can change the status of a project to "On Hold" by:</p>
        <ol>
          <li>Go to the project page.</li>
          <li>Click the Edit button.</li>
          <li>In the Project Timeline section, check the box marked "This Project is On Hold."</li>
          <li>Click the Save Changes button at the bottom of the page.</li>
        </ol>
      <p>Please only put a project on hold if there is some expectation that it will be reactivated in the next 12 months. You can later go back into the project description and change the bid submission period using the normal calendar. If a project is unlikely to be reactivated within the next 12 months, instead consider Cancelling the project.</p>
    <h3>How do I cancel a project once it has been posted?</h3>
      <p>If a project must be cancelled for any reason, you can do so by:</p> 
        <ol>
          <li>Go to the project page.</li>
          <li>In the Project Timeline section, click the Cancel Project button.</li>
          <li>You will then be prompted to confirm that you want to cancel the project.</li>
        </ol>
   <h2>Questions About Bidding on a Project</h2>
    <h3>What are credits?</h3>
      <p>Credits are the default currency of BBN and are used by Contractors to make bid submissions.  Credits can be purchased individually or in lots of 10, 15, 20 and 25.  A single credit costs $50.  Bulk purchases of credits receive a per-credit discount.  </p> 
    <h3>What are project tiers and how do they relate to credits?</h3>
      <p>Each project is placed into a particular credit tier based on the project owner's estimated budget for the project. These tiers are: </p>
      <p>Tier 1: $1 - $50,000</p>
      <p>Tier 2: $50,001 - $100,000</p>
      <p>Tier 3: $100,001 - $250,000</p>
      <p>Tier 4: $250,001 - $500,000</p>
      <p>Tier 5: $500,001 + </p>
      <p>For Contractors to submit a bid for a project in a particular tier, they must spend a number of credits proportionate to the value of the project tier. 1 credit for Tier 1 projects, 2 credits for Tier 2 projects, 3 credits for Tier 3 projects, 4 credits for Tier 4 projects and 5 credits for Tier 5 projects.  This ensures that the cost for submitting a bid is related to the actual value of the project being bid upon rather than an arbitrary flat rate</p> 
    <h3>How do I buy credits?</h3>
      </p>To buy credits:</p>
        <ol>
          <li>Sign in to your account.</li>
          <li>In the upper right corner of any page, click on the Buy Credits link.</li>
          <li>Select whether you wish to buy a single credit or a block of credits.</li>
          <li>Enter your payment information.</li>
        </ol> 
    <h3>Do I need to buy credits all at once?</h3>
      <p>Credits can be purchased at any time.</p> 
    <h3>Can I be refunded for credits I have already purchased if I cancel my membership?</h3>
      <p>If you deactivate your membership, any credits belonging to your company's account are put on hold along with the rest of your profile information. BBN can not refund the cash value of purchased credits once they are purchased, so it is most useful to bid on projects before deactivating your account if you have extra credits in your bank. </p<>
    <h3>How do I bid on a project?</h3>
      <p>To bid on a project:</p>
        <ol>
          <li>Go to the project description page.<li>
          <li>Click on the Create a Bid button on the right side of the project title bar.</li>
          <li>Begin entering information on your bid.</li>
          <li>When you are finished entering your bid information, click the Submit Bid button. You may store a draft of your information on the site as described below.</li> 
        </ol>
    <h3>Can I change my bid proposal once I have submitted it?</h3>
      <p>You are free to change your bid proposal once it has been submitted as long as it is before the submission deadline by: </p>
        <ol>
          <li>Sign into your account.</li>
          <li>From your homepage/profile page click the Track My Bids link in the upper right corner.</li>
          <li>Select the project from your bid list.</li>
          <li>Click on the Edit My Bid link.</li>
          <li>When you have made your desired changes, click the Save Changes button at the bottom of the page.</li>
        </ol>
    <p>Note: Changes that are made to a project once it's been posted may impact Bids made on the project.</p>
  <h2>Questions About the Project/Bidding Process</h2> 
    <h3>When is a winning bidder selected?</h3>
      <p>A winning bidder is selected XX[30?] days after the bid submission period ends. Individual project owners may announce a winning bidder before the XX day period ends at their discretion. </p>
    <h3>What happens if a project owner fails to select a winning bidder?</h3>
      <p>If a project owner fails completely to select a winning bidder for a project, BBN refunds credits spent on the bidding process to the bidders. We also contact the project owner to see why no bidder was selected as a winner.<p>
    <h3>What happens if a project is canceled after bidding has begun/bids have been submitted?</h3>
      <p>If a project owner cancels a project, BBN refunds credits spent on the bidding process to the bidders.</p>
    <h3>What happens if a project is put on hold after bidding has begun/bids have been submitted?</h3>
      <p>If a project owner places a project On Hold, no new bids can be submitted for the project. Bids can be prepared for the project and saved on BBN, but will not be able to be finalized until the project is no longer On Hold. Bids that have already been submitted are saved in their current format. When the project is reactivated, they can be edited as per normal. If a project that is On Hold is Canceled by the project owner, credits spent on bid submissions will be refunded to the bidder as for any other canceled project.</p>  
    <h3>What happens if a project owner fails to pay a bidder?</h3>
      <p>BBN is a central marketplace for projects and contractors in the building industry. Failure to pay on the part of a project owner is outside of the purview of this site and we accept no liability for such a failure of payment.</p>
      <p>Note: BBN's contractors can alert the community to unprofessional conduct such as failure to pay for contracted work.</p>
    <h3>What happens if a bidder fails to complete a project?</h3>
      <p>BBN is a central marketplace for projects and contractors in the building industry. Failure to complete a project on the part of a contractor is outside of the purview of this site and we accept no liability for such a failure to complete contracted work.</p>
      <p>Note: BBN's project owners can alert the community to unprofessional conduct such as failure to complete contracted work as described above.</p>