<h1 class ="page_head">How It Works</h1>

<p>
BBN is the central marketplace of building projects, connecting contractors and developers so that the right people work on the right projects. 
<%= link_to "Get Started Now!", new_user_registration_path %>
</p>
 

<h3>1. Register</h3>
<p>
  Create a company profile to strengthen and extend your existing network.  Build connections and join the BBN marketplace!
</p>

<h3>2. Browse Projects</h3>
<p>
  Search for opportunities and contacts tailored to your business needs.
</p>

<h3>3. Subscribe</h3>
<p>
  Gain exclusive access to the members of the community, detailed project descriptions, and RFPs based on your interests, location and expertise.
</p>

<h3>4. Bid</h3>
<p>
  Bid on actual projects or create projects for other members to bid on.  BBN makes bidding on projects easier, simpler, and considerably more cost effective.  A streamlined approach to commercial real estate, business and commerce.
</p>

 

<p>
  More Projects... More opportunities.. Builders Bid Network is a simplified, streamlined approach to the developing real estate marketplace.  A network of industry professionals, dedicated to building connections, and developing projects with the right people.  Jump into the marketplace and get to work!
</p>
