<h1 class ="page_head">User Agreement</h1>
<p>
This User Agreement is effective as of January 1, 2012.  Your continued use of the Site after such time
will signify your acceptance of this User Agreement.
Welcome to BBN (“BBN”, “we”, or “us”).  This page explains the terms by which you may use our web site, services and any other mobile or web services or applications owned, controlled, or offered by BBN (collectively the
“Site”).  By accessing or using the Site you signify that you have read, understood, and agree to be bound
by the following User Agreement (“User Agreement” or this “Agreement).  Certain capitalized
terms used in this User Agreement are defined here or below.  We reserve the right to revise this User
Agreement and the Terms of Service and all linked information from time to time in our sole discretion by
updating this posting or any linked information.  We may make such revisions without prior notice to you, so
please check back often for updates.  Unless otherwise provided in such revision, the revised User
Agreement or Terms of Service, or part thereof, will take effect when they are posted.  
</p>
<h2 class="terms">Site Services</h2>
<p>
BBN makes the Site available as an online venue where developers and owners of construction and contracting projects  (“Project Owner(s)”) and providers of professional services (“Contractor(s)”) identify each other and work together online to complete, invoice, and pay for projects (“Projects”).  The Site contains features that enable Project Owners and Contractors to do, among other things, the following:
Project Owners: Post Projects and Requests for Proposals, identify, contact and rate Contractors.
Contractors: Bid on projects, contact and rate Project Owners.
</p>
<h2 class="terms">Relationship Between Project Owners And Contractors</h2>
<h3 class="terms">Project Contract</h3>
<p>
The dealing, contracting and fulfillment of a Project are between a Project Owner and a Contractor. BBN shall not be considered a party to the contract.
Project Owner is responsible for managing, inspecting, accepting and paying for satisfactory Contractor Services in a timely manner. Contractor is responsible for the performance and quality of the Contractor Services in a timely and professional manner, consistent with industry practice. Project Owner and Contractor each covenants and agrees to act with good faith and fair dealing in performance of the Project Contract.
</p>
<h3 class="terms">Independent Contractors</h3>
<p>
Project Owner and Contractor each acknowledges and agrees that their relationship is that of independent contractors.  The Contractor shall perform the Contractor Services as an independent contractor and nothing in this Agreement shall be deemed to create a partnership, joint venture, agency, or employer-employee relationship between Contractor and Project Owner or between BBN and any Contractor or Project Owner.
</p>
<h2 class="terms">Relationship With BBN</h2>
<h3 class="terms">BBN Not a Party to Projects</h3>
<p>
BBN is not a party to the dealing, contracting and fulfillment of a Project between a Project Owner and a Contractor,
including the Contractor Services.  BBN has no control over and does not guarantee the quality, safety or
legality of Contractor Services advertised, the truth or accuracy of Project listings, the qualifications, background,
or abilities of Members, the ability of Contractors to deliver Contractor Services, the ability of Project Owners to pay
for Contractor Services, or that a Project Owner or Contractor can or will actually complete a transaction.
BBN is not required to and does not verify any information given to us by Contractors, nor does BBN
perform background checks on Contractors  However, BBN may provide information about a Contractor,
such as a geographical location, or third party reviews based on data given to us by the Contractor or a third party.  Such information is provided solely for the convenience of Project Owners and is not an endorsement or recommendation by BBN.
</p>
<p>
All rights and obligations for the purchase and sale of Contractor Services are solely between Project Owner and
Contractor.  Project Owner and Contractor must look solely to the other for enforcement and performance of all the
rights and obligations arising from Contracts and any other terms, conditions, representations, or
warranties associated with such dealings.
</p>
 
<h3 class="terms">Third-Party Beneficiary of Membership Contract</h3>
<p>
Project Owner and Contractor each acknowledges and agrees that the value, reputation, and goodwill of the Site
depend on their performance of their covenants and agreements. 
Project Owner and Contractor therefore appoint BBN a third-party beneficiary of their Membership Contract for
purposes of enforcing the obligations owed to, and the benefits conferred on, BBN by this Agreement. 
Project Owner and Contractor further agree that BBN has the right to take such actions with respect to their Accounts, including without limitation suspension, termination, or legal actions, as BBN in its sole discretion deems necessary to protect the value, reputation, and goodwill of the Site. 
</p>
<h3 class="terms">No Agency</h3>
<p>
This Agreement and any registration for or subsequent use of this Site will not be construed as creating or
implying any relationship of agency, franchise, partnership or joint venture between Project Owner or Contractor and BBN, except and solely to the extent expressly stated.
</p>


<h2 class="terms">Period Of Exclusivity</h2>
<p>
Project Owners: By visiting or using the Site you agree to use BBN to award Project bids to all Contractors who
identify you or whom you identify through the Site.  For all Contractors you identify via the Site on or after January 1, 2012, you agree to contact the Contractor through the Site for all Project awards you make to a Contractor in the first 24 months after you identify the Contractor through the Site. After 24 months, Project awards may be made directly to a Contractor outside of the Site.
As a Project Owner, you also agree to notify BBN immediately if a Contractor solicits a Project from you outside
the Site.
</p>
<p>
Contractors: By visiting or using the Site, or by communicating with Project Owners identified through the Site, you
agree to use BBN to bid for all Projects from Project Owners who identify you or whom you identify on the Site.  For all Project Owners you identify via the Site on or after January 1, 2012, you agree to contact the Project Owner through the Site for all Project bids submitted to a Project Owner in the first 24 months after you identify the Project Owner through the Site. After 24 months, Project bids may be made directly to a Project Owner outside of the Site.
As a Contractor, you also agree to notify BBN immediately if a Project Owner seeks to hire you for a Project outside the Site.
</p>

<h2 class="terms">Member Eligibility And Obligations</h2>
<p>
To access Site Services through our Site, you must be a legal entity, or an individual in business 18 years or
older who can form legally binding contracts.  To register for an Account with BBN and become a Member,
you must accept all of the terms and conditions in, and linked to, this Agreement.  By becoming a Member,
you agree to: (a) abide by this Agreement and the processes, procedures, and guidelines described
throughout the Site; (b) be financially responsible for your use of the Site and the purchase or delivery of
Contractor Services; and (c) perform your obligations as specified by any Membership Contract that you accept,
unless such obligations are prohibited by law or by this Agreement.  BBN reserves the right in its sole
discretion to refuse, suspend, or terminate service to anyone for any reason or no reason.
</p>

<h2 class="terms">Accounts</h2>
<p>
To become a Member and access Site Services through our Site you must register for an "Account.”  You
agree to provide true, accurate and complete information as prompted by the registration form and all forms
you access on the Site, and to update this information to maintain its truthfulness, accuracy and
completeness.  You cannot register for more than one Account without express written permission from BBN. 
</p>
<h2 class="terms">Usernames And Passwords</h2>
<p>
When a Member registers an Account, the Member will be asked to choose a username and password for the Account.
As a Member, you agree and you are entirely responsible to safeguard and maintain the confidentiality of
the username and password you use to access this Site. In either case, you authorize BBN to assume that any
person using the Site with your username and password either is you or is authorized to act for you.  You agree to notify us immediately if you suspect or become aware of any unauthorized use of the Account or access to your password.
</p>

<h2 class="terms">Third-Party Content</h2>
<h3 class="terms">Directory of Contractors</h3>
<p>
The Site contains a directory of Contractors and Project Owners.  The directory is populated with information from other Members.  BBN provides this directory as a convenience and does not confirm or verify the information contained in it.
</p>
<h3 class="terms">Links and Applications</h3>
<p>
This Site may contain links to third party Web sites, services, or resources. Such Web sites are owned and operated by the third-parties and/or their licensors.  Your access and use of those Web sites, including online communication services such as chat, email and calls, will be governed by the terms and policies of the applicable Web site.  You acknowledge and agree that BBN is not responsible or liable for: (i) the availability or accuracy of such sites; or (ii) the content, advertising, or products on or available from such sites, services, or resources.  You are responsible for deciding if you want to access a third party Web site, service or resource by clicking on a link.  The inclusion of any link on the Site does not imply that we endorse the linked site.  You use the links at your own risk, and agree that your use of an application via the Site is on an “as-is” basis without any warranty for any purpose.
</p>

<h2 class="terms">Licenses And Site Access</h2>
<h3 class="terms">Access and Interference</h3>
<p>
Visitors and Users must access Secure Areas through browsers employing an encryption level of at least
one hundred twenty eight (128) bits.  You understand and agree to immediately stop using or accessing
Secure Areas if your browser does not support such a level of encryption.  If your browser does not allow
such encryption then you may be blocked from using the Site. 
You agree that you will not use any robot, spider, scraper or other automated means to access the Site for any purpose without our express written permission. 
Additionally, you agree that you will not: (a) take any action that imposes or may impose (in our sole
discretion) an unreasonable or disproportionately large load on our infrastructure; (b) copy, reproduce,
modify, create derivative works from, distribute, or publicly display any content (other than content you have
submitted to the Site) from the Site, any software code that is part of the Site, or any services that are
offered on the Site without the prior express written permission of BBN and the appropriate third party, as
applicable; (c) interfere or attempt to interfere with the proper operation of the Site or any activities
conducted on the Site; (d) bypass any measures we may use to prevent or restrict access to the Site or any
subparts of the Site including without limitation features that prevent or restrict use or copying of any content
or enforce limitations on use of the Site or the content therein; (e) transmit spam, chain letters, or other
unsolicited communications; (f) attempt to interfere with, compromise the system integrity or security or
decipher any transmissions to or from the servers running the Site; (g) upload invalid data, viruses, worms,
or other software agents through or to the Site; (h) collect or harvest any personally identifiable information,
including account names, from the Site; (i) access any content on the Service through any technology or
means other than those provided or authorized by the Service; or (j) directly or indirectly, advertise or
promote another website, product, or service or to solicit other Users for other websites, products or services.
Accessing the audiovisual content available on the Site for any purpose or in any manner other than
Streaming (as defined below) is expressly prohibited.  “Streaming” means a contemporaneous digital
transmission of an audiovisual work via the Internet from the Site to a User’s device in such a manner that
the data is intended for real-time viewing and not intended to be copied, stored, permanently downloaded, or
redistributed by the User.
</p>

<h3 class="terms">User Content</h3>
<p>
Some areas of the Site allow Users to post feedback, comments, questions, and other information
(“User Content”).  You are solely responsible for your User Content that you upload, publish, display, link to
or otherwise make available (hereinafter, “post”) through the Site, and you agree that we are only acting as
a passive conduit for your online distribution and publication of your User Content.  You understand that
whether or not such User Content is published, BBN does not guarantee any confidentiality with respect to
any User Content.
</p>
<p>
You agree not to post User Content that: (i) may create a risk of harm, loss, physical or mental injury,
emotional distress, death, disability, disfigurement, or physical or mental illness to you, to any other person,
or to any animal; (ii) may create a risk of any other loss or damage to any person or property; (iii) seeks to
harm or exploit children by exposing them to inappropriate content, asking for personally identifiable details
or otherwise; (iv) may constitute or contribute to a crime or tort; (v) contains any information or content that
we deem to be unlawful, harmful, abusive, racially or ethnically offensive, defamatory, infringing, invasive of
personal privacy or publicity rights, harassing, humiliating to other people (publicly or otherwise), libelous,
threatening, profane, or otherwise objectionable; (vi) contains any information or content that is illegal
(including, without limitation, the disclosure of insider information under securities law or of another party’s
trade secrets); (vii) contains any information or content that you do not have a right to make available under
any law or under contractual or fiduciary relationships; or (viii) contains any information or content that you
know is not correct and current.  You agree that any User Content that you post does not and will not violate
third-party rights of any kind, including without limitation any Intellectual Property Rights, rights of publicity
and privacy.  To the extent that your User Content contains photos, you hereby represent that you
are the owner of all the copyright rights and have the power to grant the license granted below.  You understand
that publishing your User Content on the Service is not a substitute for registering it with the U.S. Copyright
Office, the Writer’s Guild of America, or any other rights organization.
</p>
<p>
BBN takes no responsibility and assumes no liability for any User Content that you or any other User or
third party posts or sends over the Service.  You understand and agree that any loss or damage of any kind
that occurs as a result of the use of any User Content that you send, upload, download, stream, post,
transmit, display, or otherwise make available or access through your use of the Service, is solely your
responsibility.  BBN is not responsible for any public display or misuse of your User Content.  You
understand and acknowledge that you may be exposed to User Content that is inaccurate, offensive,
indecent, objectionable, or inappropriate for children, and you agree that BBN shall not be liable for any
damages you allege to incur as a result of such User Content.
</p>
<p>
Furthermore, BBN has no editorial control over User Content posted by Users on the Site and is not
responsible for and does not monitor such content for accuracy or reliability.  BBN does not confirm or
verify whether a Contractor has the expertise, or is qualified or licensed to provide the Contractor Services
being requested.
</p>
<p>
You further agree not to post any User Content that contains any requests for contact outside of the Site.
BBN reserves the right, but is not obligated, to reject and/or remove any User Content that BBN
believes, in its sole discretion, violates these provisions.  
</p>
<h2 class="terms">User License to BBN</h2>
<p>
You retain all your ownership rights in your User Content.  By posting any User Content on the Site, you
expressly grant, and you represent and warrant that you have a right to grant, to BBN a royalty-free,
sublicensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce,
modify, publish, list information regarding, edit, translate, distribute, publicly perform, publicly display, and
make derivative works of all such User Content, in whole or in part, and in any form, media or technology, whether now known or hereafter developed, for use in connection with the Site and BBN’s (and its successors’ and affiliates’) business, including without limitation for promoting and redistributing part or all of the Site (and derivative works
thereof) in any media formats and through any media channels.  Notwithstanding the foregoing, BBN will
only use or disclose your User Content posted to non-public areas of the Site to the extent necessary to provide you the services on the Site.  You also hereby grant each User of the Site a non-exclusive license to access your User Content through the Site. 
The above licenses granted by you in your User Content terminate within a commercially reasonable time
after you deactivate or delete your User Content from the Site.  You understand and agree, however, that
BBN may retain, but not display, distribute, or perform, server copies of User Content that have been
deactivated or deleted.  The above licenses granted by you in User Content for which the Site does not provide
you a means to delete or remove are perpetual and irrevocable.
</p>
<p>
You may choose to or we may invite you to submit comments or ideas about the Site, including without
limitation about how to improve the Site or our products (“Ideas”).  By submitting any Idea, you agree that
your disclosure is gratuitous, unsolicited and without restriction and will not place BBN under any fiduciary
or other obligation, and that we are free to use the Idea without any additional compensation to you, and/or
to disclose the Idea on a non-confidential basis or otherwise to anyone.  You further acknowledge that, by
acceptance of your submission, BBN does not waive any rights to use similar or related ideas previously
known to BBN, or developed by its employees, or obtained from sources other than you.
</p>
<h3 class="terms">Additional User Representations and Warranties</h3>
<p>
You shall be solely responsible for your own User Content and the consequences of posting or publishing it. 
In connection with your User Content, you affirm, represent and warrant, in addition to the other
representations and warranties in this Agreement, the following: <br/>
a. You are at least 18 years of age or a legal entity and are fully able and competent to enter into the
terms, conditions, obligations, affirmations, representations, and warranties set forth in this
Agr eement, and to abide by and comply with this Agreement.<br/>
b. You have the written consent of each and every identifiable natural person in the User Content to
use such person’s name or likeness in the manner contemplated by the Site and this Agreement,
and each such person has released you from any liability that may arise in relation to such use.<br/>
c. Your User Content and BBN’s use thereof as contemplated by this Agreement and the Site will
not infringe any rights of any third party, including but not limited to any Intellectual Property Rights,
privacy rights and rights of publicity.<br/>
d. BBN may exercise the rights to your User Content granted under this Agreement without liability
for payment of any guild fees, residuals, payments, fees, or royalties payable under any collective
bargaining agreement or otherwise.
</p>
<h3 class="terms">BBN License to User</h3>
<p>
Subject to and conditioned on compliance with this Agreement, BBN grants you a limited license to
access and, if you are a Member, to use this Site internally for the purpose of ordering and receiving the Site
Services available and authorized from this Site.  You must not sell, reproduce, distribute, modify, display,
publicly perform, prepare derivative works based on, repost or otherwise use any content of this Site in any
way for any public or commercial purpose without prior written consent of BBN or the rights holder.  You
must not use any content of this Site on any other Web site or in a networked computer environment for any
purpose except your own internal viewing.  You will not attempt to reverse engineer or attempt to interfere
with the operation of any part of this Site unless expressly permitted by law.  This Site or any portion of this
Site may not be reproduced, duplicated, copied, sold, resold or otherwise exploited for any commercial
purpose that is not expressly permitted by BBN.
</p>
<p>
BBN and its licensors retain all of its right, title and interest in and to all patent rights, inventions,
copyrights, know-how, and trade secrets relating to the Site.  The BBN logo and name are trademarks of
BBN, and may be registered in certain jurisdictions.  All other product names, company names, marks,
logos and symbols on the Site may be the trademarks of their respective owners.
Except as expressly stated above, nothing in this Agreement confers any license under any of BBN's or
any third party's Intellectual Property Rights, whether by estoppel, implication or otherwise.
</p>
<h2 class="terms">Resolution Of Disputes Between Member And BBN</h2>
<p>
If a dispute arises between you and BBN, our goal is to resolve such dispute quickly and cost-effectively. 
Accordingly, you and BBN agree that we will resolve any claim or controversy at law or equity that arises
between us out of this Agreement or the BBN Services (a “Claim”) in accordance with this section entitled
“Resolution of Disputes Between Member and BBN.”  Before resorting to these alternatives, you agree to
first contact BBN directly to seek dispute assistance.
</p>

<h3 class="terms">Law and Forum for Disputes</h3>
<p>
This Agreement is governed in all respects by the laws of the State of New York without giving effect to any
principle that may provide for the application of the law of another jurisdiction.  You agree that any claim or
dispute you may have against BBN must be resolved by a court located in New York, New York,
or as described in the Arbitration Option paragraph below.  You hereby submit to the exclusive personal
jurisdiction of the courts located within New York, New York for the purpose of litigating all such
claims or disputes.  
</p>
<h3 class="terms">Arbitration Option</h3>
<p>
For any claim arising between you and BBN (excluding claims for injunctive or other equitable relief)
where the total amount of the award sought is less than $10,000, the party requesting relief may elect to
resolve the dispute in a cost-effective manner through binding non-appearance-based arbitration.  A party
electing arbitration must initiate such arbitration through an established alternative dispute resolution (“ADR”)
provider mutually agreed upon by the parties.  The ADR provider and the parties must comply with the
following rules: (a) the ADR provider will specify whether the arbitration will be conducted by telephone,
online, or solely based on written submissions; (b) the arbitration will not involve any personal appearance
by the parties or witnesses unless otherwise mutually agreed by the parties; and (c) if an arbitrator renders
an award the party receiving the award has the right to enter any judgment on the award in any court of
competent jurisdiction.
</p>
<h3 class="terms">Improperly Filed Claims</h3>
<p>
Should you file a claim contrary to this section entitled “Resolution of Disputes Between Member and
BBN,” BBN will be entitled to recover attorneys’ fees and costs up to $2,000, provided that BBN has
notified you in accordance with this Agreement of the improperly filed claim, and you have failed to promptly
withdraw the claim.
</p>
<h2 class="terms">Term: Termination And Suspension</h2>
<p>
This Agreement shall become effective as your contractual agreement upon your acceptance or your use of
the Site, and shall continue until your Account is terminated by BBN or as provided for under the
terms of this Section.
</p>
<p>
Unless otherwise agreed to in writing between the parties, either party may terminate the contractual
agreement represented by this Agreement at any time upon notice to the other party. In the event you properly terminate the contractual agreement represented by this Agreement, your Account is automatically terminated and (i) BBN shall continue to perform those BBN Services necessary to complete any open transaction between you and
another Member; and (ii) you shall continue to be obligated to pay any amounts accrued but unpaid as of the
date of termination to BBN for any Site Services.
</p>
<p>
Without limiting BBN's other remedies, we may issue a warning, or temporarily suspend, indefinitely
suspend or terminate your Account or a Project, and refuse to provide any or all Site Services to you if: (a) you
breach the letter or spirit of any terms and conditions of this Agreement or the linked policies and information
incorporated herein by reference, including our written policies and procedures posted on the Site or linked
here; (b) we suspect or become aware that you have provided false or misleading information to us; or (c)
we believe in our sole discretion that your actions may cause legal liability for you, our Members or for
BBN or are contrary to the interests of the Site or the BBN user community. Once indefinitely
suspended or terminated, you must not continue to use the Site under the same Account, a different
Account, or reregister under a new Account.
</p>
<p>
In addition, violations of this Agreement may be prosecuted to the fullest extent of the law and may result in
additional penalties and sanctions.
</p>
<p>
Without limiting BBN's other remedies, to the extent you engage in actions or activities which circumvent
the BBN Site or otherwise reduce fees owed BBN under this Agreement, you must pay BBN for all
fees owed to BBN and reimburse BBN for all losses and costs (including any and all BBN employee
time) and reasonable expenses (including attorney fees) related to investigating such breach and collecting
such fees.
</p>
<p>
BBN reserves the right to terminate any User access, Account, or Project for any reason or no reason, at its
sole discretion and to refuse to provide registration and membership to you in the future.  We will notify you
if we cancel your membership, unless in our judgment giving notice would cause a risk of further violation or
damages.  However, we will notify you that your Account will be canceled if the law requires such notification.
When your Account is terminated for any reason, you may no longer have access to data, messages, files
and other material you keep on the Site.  The material may be deleted along with all your previous Projects and
bids.  The sections entitled “RELATIONSHIP BETWEEN CLIENTS AND CONTRACTORS,”
“RELATIONSHIP WITH BBN,” “BBN FEES,” “PERIOD OF EXCLUSIVITY,” “THIRD-PARTY
CONTENT,” 
“LICENSES AND SITE ACCESS,” “RESOLUTION OF DISPUTES BETWEEN MEMBER AND BBN,”
“TERM; TERMINATION AND SUSPENSION,” “DISCLAIMERS, LIMITATIONS AND EXCLUSIONS,”
“NOTICES AND COMMUNICATIONS,” “MISCELLANEOUS,” “CERTAIN DEFINED TERMS,” and the Site
Policies entitled “Billing and Payment Service Policy,” “General Escrow Instructions,” and “Dispute
Resolution Process,” will all survive termination of the contractual agreement between us.
</p>
<p>
<h3 class="terms">Notification of BBN Members</h3>
<p>
You acknowledge and agree that the value, reputation and goodwill of the Site depend on transparency of
Member Account status to all Members, including both yourself and other Members who are participating in
Projects with you.  You therefore agree as follows: IF BBN SUSPENDS OR TERMINATES YOUR
ACCOUNT OR JOB, BBN HAS THE RIGHT BUT NOT THE OBLIGATION TO (1) NOTIFY OTHER
MEMBERS ENGAGED IN ACTIVE JOBS WITH YOU TO INFORM THEM OF YOUR SUSPENDED OR
TERMINATED ACCOUNT OR JOB STATUS, AND (2) PROVIDE THEM WITH SUMMARY REASONS FOR
THE ACTION.
</p>

<h2 class="terms">Disclaimers, Limitations And Exclusions</h2>
<h3 class="terms">Data</h3>
<p>
You are responsible for creation, storage, and backup of your business records.  This Agreement and any
registration for or subsequent use of the Site will not be construed as creating any responsibility on BBN's
part to store, backup, retain, or grant access to any information or data for any period.
We have implemented commercially reasonable technical and organizational measures designed to secure
your personal information from accidental loss and from unauthorized access, use, alteration or disclosure. 
However, we cannot guarantee that unauthorized third parties will never be able to defeat those measures
or use your personal information for improper purposes.  You acknowledge that you provide your personal
information, or information about the entity that you represent, at your own risk.
</p>
<h2 class="terms">Warranty Disclaimer</h2>
<p>
THE SITE SERVICES PROVIDED BY BBN OR ANY OF OUR LICENSORS OR OUR THIRD-PARTY
SERVICE PROVIDERS ARE PROVIDED "AS IS," AS AVAILABLE, AND WITHOUT ANY WARRANTIES
OR CONDITIONS (EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF
MERCHANTABILITY, ACCURACY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-
INFRINGEMENT, ARISING BY STATUTE OR OTHERWISE IN LAW OR FROM A COURSE OF DEALING
OR USAGE OR TRADE).  WE MAKE NO REPRESENTATIONS OR WARRANTIES, OF ANY KIND,
EITHER EXPRESS OR IMPLIED, AS TO THE QUALITY, IDENTITY OR RELIABILITY OF ANY THIRD
PARTY, OR AS TO THE ACCURACY OF THE POSTINGS MADE ON THE WEB SITE BY ANY THIRD
PARTY.  SOME STATES AND JURISDICTIONS DO NOT ALLOW FOR ALL THE FOREGOING
LIMITATIONS ON IMPLIED WARRANTIES, SO TO THAT EXTENT, IF ANY, SOME OR ALL OF THE
ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
</p>
<h2 class="terms">Limitation Of Liability</h2>
<p>
IN NO EVENT SHALL WE OR OUR LICENSORS OR OUR THIRD-PARTY SERVICE PROVIDERS BE
LIABLE TO YOU OR ANY OTHER MEMBER FOR ANY SPECIAL, INDIRECT, CONSEQUENTIAL,
INCIDENTAL OR PUNITIVE DAMAGES PURSUANT TO THIS AGREEMENT, INCLUDING BUT NOT
LIMITED TO, LOSS OF PROFITS, LOSS OF BUSINESS OPPORTUNITIES OR LOSS OF GOODWILL,
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
NOTWITHSTANDING ANY OTHER PROVISION OF THIS AGREEMENT, IN NO EVENT WILL OUR
LIABILITY TO YOU FOR ANY ACTION OR CLAIM RELATED TO THE SITE SERVICES PROVIDED
UNDER THIS AGREEMENT, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE OR ANY OTHER
THEORY OF LIABILITY, EXCEED THE GREATER OF: (A) $100, OR (B) THE AGGREGATE AMOUNT OF
SERVICE CHARGES ACTUALLY COLLECTED BY US FROM YOU FOR THE SITE SERVICES TO
WHICH THE LIABILITY RELATES DURING THE SIX (6) MONTH PERIOD IMMEDIATELY PRECEDING
THE DETERMINATION OF SUCH LIABILITY. SOME STATES AND JURISDICTIONS DO NOT ALLOW
FOR ALL THE FOREGOING EXCLUSIONS AND LIMITATIONS OF INCIDENTAL OR CONSEQUENTIAL
DAMAGES, SO TO THAT EXTENT, IF ANY, SOME OR ALL OF THESE LIMITATIONS AND EXCLUSIONS
MAY NOT APPLY TO YOU.
</p>
<h2 class="terms">Release</h2>
<p>
If you have a dispute with another Member, you release BBN (and our officers, directors, agents,
subsidiaries, joint ventures and employees) from claims, demands and damages (actual and consequential)
of every kind and nature, known and unknown, arising out of or in any way connected with such dispute. 
YOU HEREBY WAIVE CALIFORNIA CIVIL CODE §1542 (AND ANY ANALOGOUS LAW IN ANY OTHER
APPLICABLE JURISDICTION) WHICH SAYS: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS
WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF
EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS
SETTLEMENT WITH THE DEBTOR."
</p>
<p>
This release will not apply if the cause of the dispute is BBN’s failure to meet an BBN obligation under
the Terms of Service.
</p>
<h2 class="terms">Indemnity</h2>
<p>
You agree to defend, hold harmless and indemnify BBN from and against any and all losses, costs,
expenses, damages or other liabilities incurred by BBN arising from or related to any cause of action,
claim, suit, proceeding, demand or action brought by a third party against BBN: (a) in connection with your
use of the Site Services including any payment obligations incurred through use of the Site Services; or (b)
resulting from: (i) your use of the Site; (ii) your decision to submit postings and accept offers from other Members;
(iii) any breach of contract or other claims made by Members with which you conducted business through
the Site; (iv) your breach of any provision of this Agreement; (v) any negligent or intentional wrongdoing by any Member with which you conducted business through the Site; (vi) any act or omission of yours with respect to the payment of fees to any Contractor; (vii) your dispute of or failure to pay any invoice or any other payment; or (viii) your obligations to a Contractor. Any such indemnification shall be conditioned on our: (a) notifying you in writing
of any such claim, demand, action, cost, liability, loss or threat of any thereof; (b) cooperating with you in the
defense or settlement thereof; and (c) allowing you to control such defense or settlement.  We shall be
entitled to participate in such defense through our own counsel at our own cost and expense.  We reserve
the right to report any wrongdoing of which we become aware to the applicable government agencies or
otherwise.
</p>
<h2 class="terms">Notices And Communications</h2>
<h3 class="terms">Communications from BBN to you</h3>
<p>
Unless you otherwise indicate in writing to Customer Support, BBN will communicate with you by email or
by posting communications on the Site.  You consent to receive communications from us electronically and
you agree that these electronic communications satisfy any legal requirement that such communications be
in writing.  You will be considered to have received a communication when BBN sends it to the email
address you have provided to BBN on the Site, or when BBN posts such communication on the Site. 
You must keep your email address updated on this Site, and you must regularly check this Site for postings. 
If you fail to respond to an email message from BBN regarding violation, dispute or complaint within five
business days, BBN has the right to terminate or suspend your Project or your Account.
</p>
<h3 class="terms">Communications from you to BBN</h3>
<!-- ADDRESS TODO -->
<p>
All notices to BBN intended to have a legal effect concerning this Agreement must be in writing and
delivered either in person or by a means evidenced by a delivery receipt, to the following address:
BBN, Inc.
</p>
<p>
Such notices to BBN are deemed effective upon receipt.
</p>
<h2 class="terms">Miscellaneous Terms And Conditions</h2>
<p>
You are responsible for compliance with applicable local laws.  BBN will not be considered to
have modified or waived any of our rights or remedies under this Agreement unless the modification or
waiver is in writing and signed by an authorized representative of BBN.  No delay or omission by BBN in
exercising its rights or remedies will impair its rights or be construed as a waiver.  Any single or partial
exercise of a right or remedy will not preclude further exercise of any other right or remedy. 
You will not transfer, assign or delegate your rights or obligations (including your Account) under this
Agreement to anyone without the express written permission of BBN, and any attempt to do so will be null
and void.  BBN may assign this Agreement in its sole discretion.  
</p>
<p>
This Agreement, together with any other legal notices and agreements published by BBN via the Site,
shall constitute the entire agreement between you and BBN concerning the Site.  If any provision of this
Agreement is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not
affect the validity of the remaining provisions of this Agreement, which shall remain in full force and effect.
The Site is controlled and operated from its facilities in the United States.  BBN makes no representations
that the Site is appropriate or available for use in other locations.  Those who access or use the Site from
other jurisdictions do so at their own volition and are entirely responsible for compliance with all applicable
United States and local laws and regulations, including but not limited to export and import regulations.  You
may not use or access the Site if you are a resident of a country embargoed by the United States, or are a
foreign person or entity blocked or denied by the United States government.  Unless otherwise explicitly
stated, all materials found on the Site are solely directed to individuals, companies, or other entities located
in the United States.
</p>
<p>
Except for the payment of fees to BBN, neither of the parties to this Agreement shall be responsible for
the failure to perform or any delay in performance of any obligation hereunder due to labor disturbances,
accidents, fires, floods, telecommunications or Internet failures, strikes, wars, riots, rebellions, blockades,
acts of government, governmental requirements and regulations or restrictions imposed by law or any other
similar conditions beyond the reasonable control of such party. The time for performance of such party shall
be extended by the period of such delay.
</p>
<p>
The boldface paragraph headings in this Agreement are included for ease of reference only and have no
binding effect.  This Agreement and all documents referenced in this Agreement comprise the entire agreement between you and BBN with respect to the use of this Site and supersede all prior agreements between the parties regarding the subject matter contained herein as well as any conflicting or inconsistent terms in any Web sites that link to or are linked from this Site.  For convenience, this Agreement may be displayed in HTML and/or PDF versions.  In the event of any inconsistency between such versions, the PDF version will govern.
</p>
<h2 class="terms">Certain Defined Terms</h2>
<p>
Any capitalized term not otherwise defined in this Agreement has the meaning given such term on the Site. 
As used throughout this Agreement:
<ul>
  <li class="terms">“Account” means the BBN Account you open when you register to become a Member and use the Site Services.</li>
  <li class="terms">“Project Owner” means a Member that investigates and purchases Contractor Services or identifies a Contractor through the Site.</li>
  <li class="terms">“Contractor” means a Member that offers and delivers services or identifies a Project Owner through the Site.</li>
  <li class="terms">“Contractor Services” means all services delivered by Contractors. </li>
  <li class="terms">“BBN Services” means the creation, hosting, maintenance, and provision of the Site and all services delivered by BBN that are accessible through the Site.  The term BBN Services does not include Contractor Services or Third-Party Services.</li>
  <li class="terms">“Intellectual Property Rights” means all patent rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights and other intellectual property rights as may now exist or hereafter come into existence, and all applications therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory or other jurisdiction.</li>
  <li class="terms">“Member” means a person or legal entity that registers for an Account.</li>
  <li class="terms">“Membership Contract” shall have the meaning given to it above.</li>
  <li class="terms">“Secure Areas” means portions of the site that are encrypted using the Hypertext Transfer Protocol Secure (also known as “HTTPS”) or any other encryption mechanism.</li>
  <li class="terms">“Site Policies” means the Terms of Service and all obligations, requirements, and guidelines contained in or linked from the Site.  Site Policies includes, without limitation, all documents linked here.</li>
  <li class="terms">“Site Services” means all services that are accessible through the Site except Contractor Services whether provided by BBN, an Affiliate or a third party.</li>
  <li class="terms">“Third-Party Services” means all services that are accessible through the Site and delivered by third parties.  The term Third-Party Services does not include BBN Services or Contractor Services. </li>
  <li class="terms">“User” means (1) a person who is a Member, using the Site on his or her own behalf, or (2) a person who is using the Site on behalf of a Member.</li>
  <li class="terms">“Visitor” means a person who is only visiting the Site, not a Member or User.</li>
  <li class="terms">“you” means a Visitor or Member accessing the Site or using the Site Services on his or her own behalf; or, if the Site Services are used on behalf of a Member, "you" means the Member for which the Site Services are used and the User who accesses the Site on behalf of such Member (and such User represents that he or she has the authority to do so on the Member's behalf).</li>
</ul>
<p>
<h2 class="terms">Contacting Us</h2>
<!-- TODO CONTACT -->
<p>
If you wish to report a violation of the Terms of Service, have any questions or need assistance, please
contact BBN Customer Support as follows:
Web Support: WEBSITE
Email: EMAIL
Phone: PHONE
Online Help Topics: URL
</p>
<h3 class="terms">Site Usage Policy</h3>
<p>
This Site Usage Policy hereby incorporates by reference all terms, conditions rules, policies and guidelines
on the Site, including the BBN Terms of Service (“Terms of Service”). Capitalized terms not defined in
this Site Usage Policy are defined in the Terms of Service.
This Site Usage Policy is effective as of January 1, 2012. Your continued use of the Site after such time will
signify your acceptance of this Site Usage Policy. We reserve the right to modify the provisions in this Site
Usage Policy without prior notice to you, so please check back often for updates.
</p>
<h2 class="terms">Communication</h2>
<p>
BBN encourages detailed and professional communication between Project Owners and Contractors through the
Site. You are required to log onto the Site to manage Projects and enter bids. If there is
a dispute, all written communication on the Site, including Project posting and bids will serve as the
record for resolution of the dispute.
</p>
<h2 class="terms">Posting Information And Content</h2>
<p>
You agree to provide true, accurate and complete information whenever you post any information or content
on the Site (including but not limited to posting a Project, providing a bid for a posted Project, posting your profile and providing feedback). You agree to update such information whenever it changes. You agree to use good judgment when posting information, remarks or other content regarding other Users, Members, Project Owners, Contractors, BBN or any other third party. You understand that you may be held legally responsible for damages suffered by other Users, Members, Project Owners, Contractors, BBN or any third party as a result of legally actionable or defamatory comments, remarks or other information or content which you post to the BBN Site. Under federal law (specifically, the Communications Decency Act of 1996), BBN is not legally responsible for any remarks, information or other content posted or made available on its Site by any User or third party, even if such information or content is defamatory or otherwise legally actionable. BBN is not responsible for and does not monitor or censor content for accuracy or
reliability. BBN reserves the right to remove or restrict access to any information, content or Project posted or
made available on the Site in its sole discretion, or if ordered to do so by a court, or if BBN considers such
information or content to be in violation of the BBN Terms of Service.
</p>
<h2 class="terms">Posting Images</h2>
<p>
You may post a thumbnail image on the Site to accompany your profile. All thumbnails must follow these
common guidelines:
  <ul>
    <li class="terms">You must own the image, or have a license to use, copy, and sublicense the image.</li>
    <li class="terms">The image must be professional.</li>
  </ul>
</p>
<h2 class="terms">Prohibited Project Postings</h2>
<p>
You agree NOT to do the following when you post a Project or transmit information on the Site:
Post any Project, submit any proposal, or otherwise use BBN to transmit any content or conduct any
transaction that would violate any applicable law or regulation in the U.S. and any other country.
Post any Projects that are fake, posted without the intention to hire or complete the Project, or posted only to
receive pricing information.
</p>
<p>
Post any Projects that request free services.
</p>
<p>
Post any Project, proposal, deliverable or transmit any content that infringes a third party's intellectual
property rights, license rights, the terms and conditions of use of such third party's Web site or copyrighted materials or such third party's rights of publicity or privacy.
Post any Project, proposal, or deliverable or transmit any content related to or containing any adult or
sexually explicit material.
</p>
<p>
Post Projects related to bulk email or spam, including but not limited to bulk email hosting, scripts, active
code, programs, proxies, lists and relay servers.
</p>
<h2 class="terms">Prohibited Site Activities</h2>
<p>
You agree NOT to do any of the following on the Site:
  <ul>
    <li class="terms">Post logos, seals or slogans from third parties on the Site unless such material is provided by BBN or an BBN partner, or you have received express written permission from BBN to display such third- party logo, seal or slogan.</li>
    <li class="terms">Post or transmit any content that is profane, vulgar, racist, offensive, threatening, harmful, abusive, defamatory or disparaging.  </li>
    <li class="terms">Post or transmit unprofessional or offensive comments about a User, Member, Contractor, Project Owner, BBN, or any third party.  Suggest or solicit another User to contact you directly in order to buy or sell services outside of BBN.  </li>
    <li class="terms">Post or introduce software on the Site that: (i) is designed to disrupt, disable, harm or otherwise impede in any manner, including aesthetic disruptions or distortions, the operation of this Site or any other software, firmware, hardware, computer system or network (sometimes referred to as "viruses" or "worms"); (ii) would disable or impair this Site or any other software, firmware, hardware, computer systems or networks in any way where such disablement or impairment is caused by the elapsing of a period of time, exceeding an authorized number of copies, advancement to a particular date or other numeral (sometimes referred to as "time bombs," "time locks" or "drop dead" devices); (iii) would permit you or any other person to access this Site or any other software, firmware, hardware, computer systems or networks to cause such disablement or impairment or transmit information (sometimes referred to as "traps," "access codes," or "trap door" devices, or "spyware"); or (iv) which contains any other similar harmful, malicious or hidden procedures, routines or mechanisms which would cause such programs to cease functioning or to damage or corrupt data, storage media, programs, equipment or communications or otherwise interfere with operations.</li>
    <li class="terms">Access, tamper with or use non-public or non-authorized areas of the Site. Unauthorized individuals attempting to access these areas of the Site may be subject to prosecution.</li>
    <li class="terms">Tamper with postings of other Users, Members or BBN.</li>
    <li class="terms">Solicit or gather any User's or Member's information available from the Site, such as other usernames and email addresses, for any commercial or business purposes or to transmit any unsolicited advertising, junk mail, spam or chain letters.</li>
    <li class="terms">Do anything which would create or impose an unreasonable or disproportionately large burden or load on the Site.</li>
    <li class="terms">Use robots, spiders, scrapers or other automated means to access information in our Site for any purpose without express written permission from BBN.</li>
    <li class="terms">Frame or link to the Site except as permitted in writing by BBN.</li>
    <li class="terms">Impersonate or misrepresent your affiliation with any person or entity.</li>
    <li class="terms">Repeat any action after you receive warning or request to desist from BBN, whether or not that action is explicitly prohibited in the policies stated on the Site.</li>
    <li class="terms">Fail to respond to an email from BBN regarding violation, dispute or complaint within five business days.</li>
    <li class="terms">Use the Site if you are not able to form legally binding contracts, are under age or are temporarily or indefinitely suspended from our Site.</li>
    <li class="terms">Take any action that may undermine the feedback system (such as importing or exporting feedback information off the Site, or using feedback as an extortion mechanism).</li>
    <li class="terms">Copy, modify or distribute content from the Site, except for your own information and use, without the prior express written permission from BBN.</li>
    <li class="terms">Select a Project Owner or hire a Contractor on the basis of religion, sex or race.</li>
    <li class="terms">Violate a request by BBN to not post Projects deemed by BBN in its sole discretion to be contrary to the interests of the Site or the BBN User community.</li>
  </ul>
</p>
<h3 class="terms">Registering For Membership</h3>
<p>
If you wish to post Projects or bid on Projects through BBN, you must complete the Member registration process. You agree to provide true, accurate, complete information and to update such information to maintain its truthfulness, accuracy and completeness. For purposes of your BBN registration information, your true, accurate, complete location is the primary place from which you do business. Misleading information about your location is not allowed
on BBN. BBN can suspend or terminate your Account upon the discovery that any information you provided or posted is not true, accurate or complete, or as a result of other violations of the BBN Terms of Service.
</p>
<h2 class="terms">Rating And Feedback System</h2>
<p>
Always leave objective balanced feedback about the Users with whom you have transacted. You
acknowledge and agree that the Site contains public feedback from Users with whom you have transacted.
You acknowledge that feedback results for you may consist of comments and ratings left by other Users and
that BBN may calculate a composite feedback number based on these individual ratings. BBN provides its feedback
and rating system as a means through which Users can express their opinions publicly, and BBN does not
monitor or censor these opinions or investigate any remarks posted by Users for accuracy or reliability
unless a User brings the posting to BBN's attention. You may be held legally responsible for damages
suffered by other BBN Users or third parties as a result of your remarks if a court finds that your remarks
are legally actionable or defamatory. Under federal law, BBN is not legally responsible for any feedback or
comments posted or made available on this Site by any Users or third parties, even if that information is
defamatory or otherwise legally actionable.
</p>
<p>
You agree to report violations or abuses of our rating and feedback system immediately by contacting
BBN, and agree not to take any actions that undermine the integrity of the feedback system, including but not limited to the following:
  <ul>
    <li class="terms">Leaving feedback for yourself, using a secondary username or another Member’s username.</li>
    <li class="terms">Leaving fake or inaccurate feedback for another User or Member.</li>
    <li class="terms">Soliciting other BBN Members to leave fake or inaccurate feedback.</li>
    <li class="terms">Threatening to leave negative feedback to induce another User or Member to perform a task not required by the Member Contract.</li>
    <li class="terms">Withholding deliverables or funds to induce another User or Member to leave positive feedback or no feedback.</li>
    <li class="terms">Feedback solicitation such as offering to sell or buy services in exchange for good feedback, trading feedback undeservedly or buying feedback.</li>
  </ul>
</p>
<p>
In order to protect the integrity of the feedback system and protect Users from abuse, BBN will investigate
and has the right (but is under no obligation) to remove posted feedback or information under the following
scenarios:
<ul>
  <li class="terms">It seeks to elicit or solicit any User's contact information, such as other Users' email addresses, for any non-BBN related commercial or business purposes, or to transmit any unsolicited advertising, "junk mail," "spam," or "chain letters."</li>
  <li class="terms">It contains language that is profane, vulgar, or racist or contains adult material. Insulting or inflammatory feedback is strongly discouraged and may be removed.</li>
  <li class="terms">It is shown to have been left by any User who is in violation of BBN's Eligibility requirements, or by or for a User who has conducted any fraudulent transaction.</li>
  <li class="terms">It makes any reference to actions taken or purported to be taken by BBN or any law enforcement organization.</li>
  <li class="terms">BBN is provided with a ruling or settlement agreement from a valid and certified dispute resolution service, or is provided with a court order finding that the feedback or information posted is slanderous, libelous, defamatory or otherwise illegal.</li>
  <li class="terms">The User who posted the feedback or information provided BBN with false contact information during the transaction period (as verified by BBN) and cannot be contacted by BBN.</li>
  <li class="terms">The User who posted the feedback or information is doing so with the intent of leaving feedback as part of a campaign to harass BBN member(s) (as verified by BBN).</li>
  <li class="terms">The User who posted the feedback or information informs BBN that it was intended for another User and posts the feedback or information for the appropriate User. This does not apply to feedback that was mistakenly marked negative instead of positive or vice versa, in which case the User can contact BBN to file a feedback review request.</li>
</ul>
</p>
