<h3>End Bidding on Project</h3>
<%= form_for project, :url => end_bidding_admin_project_path(project), :method => :post do |end_bidding_form| %>
  <%= end_bidding_form.submit "End Bidding", :confirm => "Are you sure you want to end bidding on this project?" %>
<% end %>
