<div class="result_image ">
  <%
    (project.cover_photo.present?) ? url = project.cover_photo.asset : url = '/images/project_square.png'
  %>
  <%= link_to (image_tag url, :alt => "Project"), project_path(project), :class => 'project_avatar' %>
</div>