<div class="result_image ">
  <%
    url = '/images/project_square.png'
    if(project.cover_photo.present?)
	  url = project.cover_photo.asset
	end
  %>
  <%= link_to (image_tag url, :alt => "Project"), project_path(project), :class => 'project_avatar' %>
</div>