<div class="sidebar_box help_box">
  <h1>Tips</h1>
  <p>Remember to describe your project as fully as possible.  Add any additional notes or special requirements of the project.  Supporting documents and photos help contractors to better understand the scope of your project.</p>
  <h1>Help?</h1>
  <p>Feel free to contact us at <a href="mailto:contact@buildersbidnetwork.com">contact@buildersbidnetwork.com</a>.  We will provide assistance within 24 hours.</p>
</div>

