Changes have been made to the project <%= @project.name %>, for which you submitted a bid on BBN. Your bid has been placed on hold and your credits have been refunded. To view the changes and update your bid, please follow the link below to the project page.

<p>
  <%= link_to "Project Scope", project_url(@project), :class => 'btn primary large' %>
</p>
