<h1>Post a Project</h1>

<ul class="breadcrumb">
  <li class="active">Step 1: <strong>Project Scope</strong> <span class="divider">&gt;</span></li>
  <li>Step 2: <strong>Add Documents + Photos</strong> <span class="divider">&gt;</span></li>
  <li>Step 3: <strong>Review &amp; Submit</strong></li>
</ul>

<%= render 'form' %>
