<% content_for :top_banner do %>
  <div class="container">
    <h1>Post a Project</h1>

    <div class="wizard-steps">
      <div class="completed-step"><p>Step <span>1</span>: <strong>Project Scope</strong></p></div>
      <div class="completed-step"><p>Step <span>2</span>: <strong>Add Documents + Photos</strong></p></div>
      <div class="active-step"><p>Step <span>3</span>: <strong>Review &amp; Submit</strong></p></div>
    </div>
  </div>
<% end %>

<%= render 'form' %>
