<div class="home_page row">
  <div class="span8"> 
    <div class="error_wrapper">
      <div class="dialog">
          <h1>404 Error: <strong>Sorry Boss, couldn't find that.</strong></h1>
      </div> 
      <p class="not_found">We hate to say it, but we couldn't find the page or file you were looking for. Please try again.</p>

      <a class="btn primary large" href="/">Back to Work</a>

      <img src="/images/404_dog_helmet.png" height="454" width"482" alt="error" border="0" />
    </div>
  </div>
</div>