.topbar .fill {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeae3',GradientType=0 );
}

.credits_page .groups_box .group_box {
   zoom: 1;            /* Inline-Block Fix for IE 7 */
  *display: inline;   /* Inline-Block Fix for IE 7 */
  }
.auth_topbar .fill {
  background: -ms-linear-gradient(top,  #3873af 0%,#326092 100%); /* IE10+ */
  background: #3873af; /* Old browsers */
  background-color: #3873af;  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3873af', endColorstr='#326092',GradientType=0 ); /* IE6-9 */ 
}
.credits_page .explanation_box > div {
  zoom: 1;             /* Inline-Block Fix for IE 7 */
  *display:inline;     /* Inline-Block Fix for IE 7 */
 }
 
.right_search_box_container .sidebar_number p {
 padding-top:21px;
 padding-right:10px;
 padding-left:50px;
 }
 
 .db_track_projects_awarded_sidebar .sidebar_box p {
color: #6485B2;
}

.db_page .search_box .background {
left: 140px;
}
.brand_header .search_nav {
  margin-top: 0;
}
.subscription_box ol {
  background-color: #EDEDED;
  border: 1px solid #C2C2C2;
  margin-left: 0px;
  padding-bottom: 5px;
  padding-right: 10px;
  zoom: 1;             /* Inline-Block Fix for IE 7 */
  *display:inline;     /* Inline-Block Fix for IE 7 */
}