/**
 * http://www.colorjack.com/?swatch=000985,2A2E5E,85004B,5E2A48,008539,2A5E41
 * #000985
 * #2A2E5E
 * #85004B
 * #5E2A48
 * #008539
 * #2A5E41
 **/
.brand_header {
  padding: 1em;
  margin-bottom: 35px;
  color: white;

  height: 30px;
}

.brand_header .header_container {
  position: relative;
}
.brand_header a {
  color: white;
  font-weight: bold;
}
.brand_header h1 {
  font-family: sans-serif;
  font-size: 28px;
  font-weight: lighter;
  padding-top: 20px;
}
.brand_header h1 a {
  text-decoration: none;
}
.brand_header h1 a:hover {
  color: inherit;
  background-color: inherit;
}
.brand_header .user_nav {
  position: absolute;
  right: 0;
  top: 0;
}
.brand_header .search_nav {
  float: right;
  padding-top: 10px;
}
.brand_header .search_nav input.search {
  width: 100px;
  height: 10px;
  font-size: 11px;
  background-color: white;
  -webkit-transform-style: flat;

  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px 0px;
  border-top-right-radius: 0px 0px;

  border-color: #ccc;
}
.brand_header .search_nav input.search::-webkit-input-placeholder  { color:#ccc; }
.brand_header .search_nav input.search:-moz-placeholder { color:#ccc; }

.brand_header .search_nav input.search_btn {
  width: 14px;
  height: 14px;
  border: none;
  box-shadow: none;
  padding: 3px;
  top: -5px;
  position: relative;
}

.search_nav select {
  height: 18px;
  line-height: 18px;
  font-size: 10px;
  top: -5px;
  border: none;
  position: relative;

/*
-webkit-border-radius: 2px;
-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
-webkit-padding-end: 20px;
-webkit-padding-start: 2px;
-webkit-user-select: none;

border: 1px solid #AAA;
color: #555;
font-size: inherit;

padding-top: 2px;
padding-bottom: 2px;
 
*/

-webkit-appearance: button;
-moz-appearance: button;
background-image: url(../images/searchbar_dropdown_arrow.png);
background-position: 95% 50%;
background-repeat: no-repeat;

margin: 0;
overflow: hidden;

text-overflow: ellipsis;
white-space: nowrap;
}
.search_nav label.add-on {
  padding-left: 0px;
  padding-right: 0px;
  height: 10px;
}

.search_nav .input-append label.add-on:last-child {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.auth_topbar {
  color: #ccc;
  height: 20px;
}
.auth_topbar .fill {
  background: #3873af; /* Old browsers */
  background: -moz-linear-gradient(top,  #3873af 0%, #326092 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3873af), color-stop(100%,#326092)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3873af 0%,#326092 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3873af 0%,#326092 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3873af 0%,#326092 100%); /* IE10+ */
  background: linear-gradient(top,  #3873af 0%,#326092 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3873af', endColorstr='#326092',GradientType=0 ); /* IE6-9 */
  height: 28px;
}
.auth_topbar .dropdown-menu {
  top: 26px;
  background-color: #326092 !important;
}
.auth_topbar .sign_in_cta {
  padding-top: 4px;
}
.auth_topbar a {
  font-weight: bold;
  color: #eee;
}
.auth_topbar li {
  line-height: 24px;
  color: #ddd;
}
.auth_topbar.topbar div > ul a { 
  display: inline; 
}
.auth_topbar.topbar ul.dropdown-menu a { 
  display: block; 
  color: #eee !important;
}
.auth_topbar.topbar ul.dropdown-menu a:hover { 
  background-color: #3873AF;
  background-image: none;
}
.auth_topbar.topbar div > ul a img { 
  margin-top: 4px;
}

.brand_header .nav_topbar {
  top: 28px;
  position: absolute;
  z-index: inherit;
}
.brand_header .nav_topbar .fill {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
.brand_header .nav_topbar a {
  color: #333;
  height: 28px;
}
.brand_header .nav_topbar ul li {
  height: 50px;
}  
.brand_header .topbar div > ul .active > a, .nav .active > a {
  background: #dddddd; /* Old browsers */
  background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  color: #333;
  height: 32px;
}
.brand_header .topbar div > ul a:hover {
  background: #dddddd; /* Old browsers */
  background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  color: #999;
  height: 32px;
  text-shadow: none;
}

.brand_header .nav_topbar img.logo {
  float: left;
  padding: 15px 10px 10px 0;
}

.brand_header .nav_topbar p.nav_desc {
  line-height: 5px;
  font-size: 10px;
}


.footer {
  border-width: 2px 0;
  border-style: solid;
  border-color: #ddd;
  margin: 10px 0;
  font-size: 10px;
}

.footer ul {
  list-style: none;
  margin: 0;
}
.footer ul li {
  float: left;
  padding: 3px 6px;
}
.footer ul li.right_side {
  float: right;
}

.field_with_errors {
  padding: 0;
  display: inline-block;
}

.home_page .home_box {
  border: 3px solid #eee;
  padding: 10px;
}
.home_page .search_box {
  margin: 0 0 20px 0;
}
.home_page .search_box .type_select {
  margin: 10px 0;
}

.home_page .cta_box {
  margin-bottom: 20px;
  background: #666;
  color: #eee;
  padding: 15px;
}

.home_page .cta_box span {
  font-size: 18px;
}
.home_page .cta_box a {
  color: #eee;
  text-decoration: underline;
}
.home_page .info_box ul {
  list-style: square;
}
.home_page .info_box ul li {
  line-height: 2em;
}
.home_page .info_box .btn {
  text-align: center;
}

.message {
  padding: 0.5em;
  font-weight: bold;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.message.alert {
  background-color: #E44;
  color: #EEE;
}
.message.notice {
  background-color: #EE4;
  color: #444;
}
.container_12 .grid_1point5 {
  width: 90px;
}
label {
  font-weight: bold;
  padding-top: 0;
  padding-right: 10px;
}

address { 
  display: inline-block; 
  margin-bottom: 0;
}

table th { font-weight: bold; }
table td {
  padding-right: 1em;
}
table {
  border-collapse: separate;
  border-spacing: 2px;
}

table a.nav {
  display: block;
  padding: 16px 0 0 0;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 0px !important;
  height /**/:16px;
}
table a.nav.nav-edit { background-image: url("../images/table_edit.png"); width: 16px; }
table a.nav.nav-destroy { background-image: url("../images/cross.png"); width: 16px; }

table.project_bids {
  width: 100%;
}

table.project_bids tr th {
  border-bottom: solid 1px #999;
}
table.project_bids tr th.bidder {
  width: 10%;
}
table.project_bids tr th.bid_date {
  width: 12%;
}
table.project_bids tr th.total {
  width: 50%;
  text-align: right;
  padding-right: 1em;
}

ul.line_items {
  list-style: none;
  margin: 0;
}
ul.line_items li {
  margin: 10px 0;
  padding: 10px;
  background: #ddd;
}
table tr.odd,
ul li.odd {
  background-color: #ddd;
}
ul.line_items li span.content { 
  margin-top: 7px;
}
ul.line_items li span.units,
table.project_bids tr td.total {
  font-weight: bold;
  float: right;
}
ul.line_items li span.units,
ul.line_items li span.cost,
ul.line_items li span.unit_cost {
  float: right;
  padding-right: 0.5em;
}
#bid_total {
  text-align: right;
}
ul.line_items li input {
  text-align: right;
  margin-top: 7px;
}
input[readonly] {
  background-color: #EBEBE4;
  font-style: italic;
}

form div.field.row div.field_with_errors:first-child {
  margin-left: 15px;
}
form div.field_with_errors,
form div.field_with_errors input,
form div.field_with_errors label {
  color: #B94A48;
  border-color: #EE5F5B;
  background: none;
}

.row > [class*="span"].alpha {
  margin-left: 0;
}

.project_document {
  display: inline-block;
  #width: 100px;
  padding: 1em;
}
.project_document img {
  min-height: 100px;
  min-width: 100px;
}
.project_document .description {
  display: inline-block;
  font-size: 0.8em;
  float: left;
  width: 100px;
}
form.new_project_document {
  padding-bottom: 2em;
}

.datetime-field select[id*="_2i"] {
  width: 90px;
}
.datetime-field select {
  width: 54px;
}

label span.message {
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  float: right;
  color: #fff;
}
label span.message.owner {
  background-color: #008000;
}
label span.message.viewer {
  background-color: #EE4444;
}
label span.message.bad_address {
  background-color: #FF4800;
}

.conversation {
  background-color: #ddd;
  margin-bottom: 1em;
}
.conversation.unread {
  background-color: #fff;
}
.conversation:hover {
  background-color: #aaa;
}

.conversation .subject {
  font-size: 1.2em;
  font-weight: bold;
}
.conversation .date {
  font-size: 0.8em;
} 
.conversation .action {
  /* display: inline; */
} 

#payment_credit_card_number {
  width: 308px;
}

.track-page .tabs,
.search-page .tabs { 
  margin-bottom: 0; 
}
/*
ul.search_tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}
ul.search_tabs li {
  display: inline;
  border: 1px solid #999;
  border-bottom-width: 0;
  margin: 0 0.5em 0 0;
  background: #999;
  padding: 1px 30px;
  color: #eee;
}
ul.search_tabs li a {
  color: #eee;
  text-decoration: none;
}
ul.search_tabs li:hover,
ul.search_tabs li a:hover
ul.search_tabs li.selected {
  background: white;
  color: #333;
}
*/

.track_filters,
.search_filters {
  border-color: #DDD;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 8px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}

.search_filters form {
  margin-bottom: 0;
}

.search_filters div.filter {
  border-top: 1px solid #ddd;
  padding: 5px 0;
}

.home_page .search_box table td,
.search_filters div.filter.filter_location table td {
  padding: 0;
  border: none;
  text-align: center;
}
.home_page .search_box table td {
  text-align: left;
  padding: 0 5px 0 0;
}


.track_filters ul,
.search_filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.search_filters ul li {
  margin-left: 0;
}
.track_filters ul li { 
  margin-left: 0;
  padding: 5px;
  border-bottom: 1px dotted #ddd;
}
.track_filters ul li a { 
  display: block;
  padding: 5px;
}
.track_filters ul li.active a {
  background: #666;
  color: #eee;
}

.track_filters dl {
  margin-top: 10px;
  font-size: 10px;
  line-height: 14px;
}
.track_filters dl dt {
  float: left;
  display: inline;
  font-weight: normal;
}
.track_filters dl dd {
  left: 5px;
  position: relative;
  font-weight: bold;
}

.search_result {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding: 10px 0;
}
.search_result.no_results h4 {
  display: inline;
}
.search_result.no_results a {
  float: right;
}

.results_order {
  background: #ddd;
  margin: 5px;
  padding: 5px;
  text-align: right;
}
.results_order a {
  color: #666;
  padding: 0 5px;
}
.results_order a.active {
  font-weight: bold;
}

.track-page h1 img {
  padding: 5px;
  background: #DDD;
  top: 5px;
  position: relative;
}

.sidebar_box {
  padding: 10px;
  background: #edebe1;
  margin-bottom: 20px;
  border: 2px solid #DDD;
}
.sidebar_box.profile_avatar {
  text-align: center;
}

.sidebar_box h1 {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}
.sidebar_box.sidebar_number strong {
  font-size: 30px;
  font-weight: bold;
  display: block;
  float: left;
  padding: 0 15px;
}
.sidebar_box.sidebar_number span {
  display: block;
}

.sidebar_box.help_box p {
  border-bottom: 1px dotted #666;
  padding-bottom: 10px;
}

.profile_actions ul {
  list-style: none;
}
.profile_actions ul li {
  border-style: dotted;
  border-color: #ddd;
  border-width: 1px 0;
  padding: 5px 0;
  font-weight: bold;
  font-size: 15px;
}

.profile_page .field label {
  font-size: 11px;
}
.profile_page .field address p {
  font-size: 18px;
}

.project_form .project_meta,
.project_page .project_meta,
.profile_page .profile_meta {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
}
.project_form .project_meta .field select.type_select,
.project_form .project_meta .field textarea,
.project_form .project_meta .field input {
  width: 98%;
}

.project_form .project_meta .field.line_item input,
.project_form .project_meta .field.location select,
.project_form .project_meta .field.location input {
  margin: 0 0 10px 0;
}
.project_form .project_meta .field.location input.city_field {
  width: 438px;
}
.project_form .project_meta .field.location select {
  width: 50px;
}
.project_form .project_meta .field.location input.zip_field {
  width: 80px;
}
.project_form .project_meta .field.line_item input.line_item_content_field {
  width: 470px;
}
.project_form .project_meta .field.line_item input.line_item_units_field {
  width: 80px;
}

.project_form .project_meta.project_budget div.input-prepend {
  display: inline;
}



.project_header {
  padding: 5px 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ddd;
  margin-bottom: 10px;
}
.project_header .project_avatar img {
  border: 2px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.project_header .project_actions {
  padding-top: 23px;
  text-align: right;
}

.project_sidebar .project_timeline h1 {
  border-bottom: 1px solid;
}
.project_sidebar .project_timeline ul {
  list-style: none;
  margin: 0;
}
.project_sidebar .project_timeline ul label {
  font-size: 11px;
}

.project_bid {
  margin-right: 0;
}

.label.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
}
.label strong {
  font-size: 2em;
  vertical-align: middle;
}

input, textarea {
  -webkit-transform-style: flat;
}
.text_align_right { text-align: right; }
.float_right { float: right; }
