/**
 * http://www.colorjack.com/?swatch=000985,2A2E5E,85004B,5E2A48,008539,2A5E41
 * #000985
 * #2A2E5E
 * #85004B
 * #5E2A48
 * #008539
 * #2A5E41
 **/
.brand_header {
  padding: 1em;
  margin-bottom: 39px;
  color: white;
  height: 30px;
}

.brand_header .header_container {
  position: relative;
}
.brand_header a {
  color: white;
  font-weight: bold;
}
.brand_header h1 {
  font-family: sans-serif;
  font-size: 28px;
  font-weight: lighter;
  padding-top: 20px;
}
.brand_header h1 a {
  text-decoration: none;
}
.brand_header h1 a:hover {
  color: inherit;
  background-color: inherit;
}
.brand_header .user_nav {
  position: absolute;
  right: 0;
  top: 0;
}
.brand_header .search_nav {
  float: right;
  padding-top: 20px;
}
.brand_header .search_nav input.search {
  color:#B2B2B2;
  width: 100px;
  height: 10px;
  font-size: 11px;
  background-color: white;
  -webkit-transform-style: flat;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px 0px;
  border-top-right-radius: 0px 0px;
  border-color: #ccc;
}
.brand_header .search_nav input.search::-webkit-input-placeholder  { color:#ccc; }
.brand_header .search_nav input.search:-moz-placeholder { color:#ccc; }

.brand_header .search_nav input.search_btn {
  width: 14px;
  height: 14px;
  border: none;
  box-shadow: none;
  padding: 3px;
}

.search_nav select {
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  border: none;
  padding: 0 0 0 9px;

/*
-webkit-border-radius: 2px;
-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
-webkit-padding-end: 20px;
-webkit-padding-start: 2px;
-webkit-user-select: none;

border: 1px solid #AAA;
color: #555;
font-size: inherit;

padding-top: 2px;
padding-bottom: 2px;
 
*/

-webkit-appearance: button;
-moz-appearance: button;
background-image: url(../images/searchbar_dropdown_arrow.png);
background-position: 95% 50%;
background-repeat: no-repeat;

margin: 0;
overflow: hidden;

text-overflow: ellipsis;
white-space: nowrap;
}
.search_nav label.add-on {
  padding: 0px;
  height: 18px;
}

.search_nav .input-append label.add-on:last-child {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.auth_topbar {
  color: #fff;
  height: 20px;
}
.topbar .fill {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeae3',GradientType=0 );
}

.auth_topbar .fill {
  background: #3873af; /* Old browsers */
  background-color: #3873af; 
  background: -moz-linear-gradient(top,  #3873af 0%, #326092 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3873af), color-stop(100%,#326092)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3873af 0%,#326092 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3873af 0%,#326092 100%); /* Opera 11.10+ */
  background: linear-gradient(top,  #3873af 0%,#326092 100%); /* W3C */
  height:32px;
}
.auth_topbar .dropdown-menu {
  top: 26px;
  background-color: #326092 !important;
}
.auth_topbar .sign_in_cta {
  padding-top: 4px;
  float:left;
  }
.auth_topbar a {
  font-weight: bold;
  color: #eee;
}
.auth_topbar li {
  line-height: 24px;
  color: #ddd;
}
.auth_topbar.topbar div > ul a { 
  display: inline; 
}
.auth_topbar.topbar ul.dropdown-menu a { 
  display: block; 
  color: #eee !important;
}
.auth_topbar.topbar ul.dropdown-menu a:hover { 
  background-color: #3873AF;
  background-image: none;
}
.home-page-navbar-login input {
  background-color:#FFF;
  color:#000;
  margin-top:5px;
  height:14px;
  margin-bottom:2px;
  border:none;
}
.home-page-navbar-login input[type="submit"] {
  background-color:#3895D7;
  color:#fff;
  height:22px;
}

.home-page-navbar-login form{
  margin-top:0px;
  float:right;
}
.home-page-navbar-login  input[type=text]{
  background-color:#fff;
  height:15px;
  width:175px;
}
.home-page-navbar-login input[type=button]{
  background-color:#3491d6;
  color:#fff;
  height:25px;
}

.auth_topbar.topbar div > ul a img { 
  padding-top: 6px;
  vertical-align: top;
}

.brand_header .nav_topbar {
  top: 33px;
  position: absolute;
  z-index: inherit;
}
.brand_header .nav_topbar .fill {
  background: #ffffff; /* Old browsers */
  /* background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  /* background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  /* background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
  /* background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
  /* background: linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* W3C */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
.brand_header .nav_topbar a {
  color: #3F9DE0;
  padding:15px 10px;
  font-size:14px;
  height: 45px;
  line-height:15px;
  text-shadow: 0 -0 0 rgba(0, 0, 0, 0);
}
.brand_header .nav_topbar a  span{
  color: #A8A8A8;
  display:block;
  font-size:12px;
  font-weight:normal;
}
.brand_header .nav_topbar .active a  span {
  color: #333;
}
.brand_header .nav_topbar .label {
  background-color:#FF6502;
  color:#fff;
  display:inline;
  height:10px;
  padding-top:4px;
  text-align:center;
  width:20px;
}







































.brand_header .nav_topbar ul li {
  height: 65px;
  border-right:1px solid #eee;
}  
.brand_header .nav_topbar ul li:first-child {
  border-left: 1px solid #eee;
}
.brand_header .topbar div > ul .active > a, .nav .active > a {
  background: #dddddd; /* Old browsers */
  background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  color: #333;
  height: 35px;
}
.brand_header .topbar div > ul a:hover {
  background: #dddddd; /* Old browsers */
  background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  color: #999;
  height: 35px;
  text-shadow: none;
}

.brand_header .nav_topbar img.logo {
  float: left;
  padding: 20px 25px 10px 0;
}

.brand_header .nav_topbar p.nav_desc {
  font-size: 10px;
  line-height: 5px;
  padding-top:10px;
}

#top-banner  {
  background-color:#edeae3;
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,234,227,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,234,227,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,234,227,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,234,227,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,234,227,1) 100%);
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,234,227,1) 100%);
  border-bottom: 1px solid #C2C2C2;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeae3',GradientType=0 );
  margin-bottom: 20px;
}
#top-banner  .tabs {
  margin-bottom: -1px;
}
#top-banner  .tabs > li > a {
  background-color: #42aaf1;
  color: #fff;
  padding: 0 30px;
  font-size: 16px;
  font-weight:bold;
  margin-right: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#top-banner .tabs .active > a, #top-banner .tabs .active > a:hover {
  background-color: #fff;
  color: #1e316b;
}

#top-banner .building-relationships-container h2 {
  background: transparent url('../images/home_triangle.png') 0 5px no-repeat;
  float:left;
  font-weight:normal;
  font-size:31px;
  line-height:105px;
  padding-left:75px;
}
#top-banner .building-relationships-container span {
  font-weight:bold;
}
#top-banner .building-relationships-container ul {
  float:right;
  list-style-type:none;
  margin-top:15px;
  margin-right:45px;
}
#top-banner .building-relationships-container ul  li{
  background: transparent url('../images/home_squarebullet.png')  0 .5em no-repeat;
  margin-top:5px;
  padding-left:20px;
}
#top-banner .container > h1 {
  padding-top: 16px;
}
#top-banner .container > .row {
  padding-top: 10px;
  margin-bottom: 5px
}
.sector {
  padding: 1px 3px 2px;
  display: inline-block;
  font-weight: bold;
  color: #8DC04A;
  white-space: nowrap;
  background-color: #f0fdec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #8DC04A; 
  background-image: -ms-linear-gradient(top right, #F4F9F5 0%, #EBF1D5 100%);  /* IE10 */ 
  background-image: -moz-linear-gradient(top right, #F4F9F5 0%, #EBF1D5 100%); /* Mozilla Firefox */ 
  background-image: -o-linear-gradient(top right, #F4F9F5 0%, #EBF1D5 100%); /* Opera */ 
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #F4F9F5), color-stop(1, #EBF1D5)); /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-linear-gradient(top right, #F4F9F5 0%, #EBF1D5 100%); /* Webkit (Chrome 11+) */  
  background-image: linear-gradient(top right, #F4F9F5 0%, #EBF1D5 100%); /* Proposed W3C Markup */
}
.project_avatar,
.profile_avatar {
  border: 1px solid #4BAAEE; 
  float: left;
  padding: 1px;
  width: 94px;
  height: 94px;
} 
.profile_header .profile_actions,
.project_header .project_actions {
  padding-top: 8px;
  text-align: right;
}
.track_header .track_actions .label.large,
.track_header .track_actions .btn.large,
.search_header .search_actions .label.large,
.search_header .search_actions .btn.large,
.profile_header .profile_actions .label.large,
.profile_header .profile_actions .btn.large,
.project_header .project_actions .label.large,
.project_header .project_actions .btn.large {
  display: inline-block;
  width: 240px;
  margin: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.profile_header .profile_actions .btn.small,
.project_header .project_actions .btn.small {
  text-transform: uppercase;
  text-align: center;
  margin: 5px 5px 0 0;
  width: 111px;
  font-weight: bold;
}


.footer {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #ddd;
  margin: 10px 0 0 0;
  font-size: 10px;
  background-color: #EDEDED;
  background-image: -ms-linear-gradient(top, #EDEDED 0%, #FCFCFC 100%);   /* IE*/  
  background-image: -moz-linear-gradient(top, #EDEDED 0%, #FCFCFC 100%); /* Mozilla Firefox */
  background-image: -o-linear-gradient(top, #EDEDED 0%, #FCFCFC 100%); /* Opera */  
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EDEDED), color-stop(1, #FCFCFC)); /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-linear-gradient(top, #EDEDED 0%, #FCFCFC 100%); /* Webkit (Chrome 11+) */ 
  background-image: linear-gradient(top, #EDEDED 0%, #FCFCFC 100%); /* Proposed W3C Markup */
}

.footer ul {
  list-style: none;
  margin: 45px 0 0 0;
  font-size:14px;
  font-weight:normal;
}
.footer ul li {
  float: right;
  padding: 3px 6px;
}
.footer ul li.left_side  {
  float:left;
  padding-bottom: 45px;
}

.footer ul li span.left_sidetop,
.footer ul span.left_sidebottom {
  display:block;
  font-weight:bold;
  font-size:22px;
  left:0px;
  position:relative;
}
.footer ul li span.left_sidebottom {
  font-size:12px;
  font-weight:normal;
  margin-top:5px;
}

.sidebar_box {
  border: 1px solid #DDD;
  margin-bottom: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.sidebar_box  .head{
  background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(237, 234, 227, 1) 100%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(237, 234, 227, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(100%,rgba(237, 234, 227, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(237, 234, 227, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(237, 234, 227, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(237, 234, 227, 1) 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(237, 234, 227, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeae3',GradientType=0 );
  height:27px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid transparent;
}
.sidebar_box.sidebar_number span {
  color:#686868;
  font-weight:bold;
}

.sidebar_box.help_box p {
  border-bottom: 1px dotted #666;
  padding-bottom: 10px;
}

.sidebar_box .sidebar_flag label, 
.sidebar_box .sidebar_flag {
  background-color: #666;
  color: #eee;
  font-size: 14px;
  text-transform: uppercase;
}
.sidebar_box .sidebar_flag {
  margin: -10px -20px 10px -20px;
  padding: 10px;
  position: relative;
}
.sidebar_box .sidebar_flag .sidebar_triangle {
  width: 0;
  height: 0;
  border-bottom: 9px solid transparent;
  border-top: 9px;
  position: absolute;
  bottom: -9px;
}
.sidebar_box .sidebar_flag .sidebar_triangle.left {
  border-right: 9px solid #333;
  left: 0;
}
.sidebar_box .sidebar_flag .sidebar_triangle.right {
  border-left: 9px solid #333;
  right: 0;
}
.sidebar_box .sidebar_flag label.award,
.sidebar_box .sidebar_flag span.award {
  color: orange;
}
.sidebar_box h1 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  padding:5px;
}
.field_with_errors {
  padding: 0;
  display: inline-block;
}
.home_page .home_box {
  border: 3px solid #eee;
  padding: 10px;
  position:relative
  z-index:-2;
}

.home_page .search_box {
  padding-top:15px;
  height:315px;
  margin: 20px 0 20px 0;
  width:432px;
  position:relative;
  z-index:0;
}
.home_page .search_box .background {
	background: transparent url('/images/search_man.png') 0 0 no-repeat;
	position: absolute; 
	left: 118px; 
	top: -40px;
	width: 334px;
	height: 221px;
	z-index: -1;
}
.home_page .account_box {
  padding:10px 30px;
  margin-top:20px;
  margin-right:20px;
  width: 432px;
}
.home_page .account_box h2 {
color: #002358;
font-size: 22px;
font-weight: bold;
}
.home_page .account_box li {
 list-style:none;
 padding-bottom:5px;
}

.home_page .account_box  label{
  width:100%;
  text-align:left;
  text-transform:uppercase;
}
.home_page .home_page_sidebar .btn {
  width: 180px;
}
.home_page .home_page_sidebar .sidebar_box .btn {
  width: 200px;
}
.home_page .home_page_sidebar .sidebar_box label {
  width: auto;
}
.home_page .home_page_sidebar .sidebar_box input {
  width: 187px;
}
.home_page .home_page_sidebar .sidebar_box p {
  margin: 5px 10px;
}

.home_page .account_box  .field.text input{
  width:100%;
  padding:4px;
}
.home_page .account_box .btn.primary {

margin-right:5px;
float:left;
}
.home_page .account_box .terms {
float: right;
width: 210px;
font-size: 14px;
}
.home_page .account_box .field.register {
margin-top:20px;
clear:both;
padding-bottom:10px;
}
.home_page .account_box .cta {
padding-top:15px;
}
.home_page .span10 {
  width: 474px;    
}
/* Project Page Non-Subscribed View Style */
.project_page .btn.subscribe {
  background: transparent url('/images/lock.png')0 no-repeat;
  background-color:#87C442;
  background:#87c442;
  color:#fff;
  text-shadow:none;
  }
  
.project_page  li.subscribe {
  color: #87c442;
  list-style:none;
}

.project_page li.locked_bid_breakdown {
  color:#fff;
  background-color:#87C442;
  background:#87c442;
  font-weight:bold;
}
.btn.primary {
  background-color:#FFB134;
  color:#fff;
  border-color:#E56F01;
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF8013', endColorstr='#FFB134'); /* IE6 & IE7 */
  background-image: -ms-linear-gradient(top, #FF8013 0%, #FFB134 100%);   /* IE*/  
  background-image: -moz-linear-gradient(top, #FF8013 0%, #FFB134 100%); /* Mozilla Firefox */
  background-image: -o-linear-gradient(top, #FF8013 0%, #FFB134 100%); /* Opera */  
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF8013), color-stop(1, #FFB134)); /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-linear-gradient(top, #FF8013 0%, #FFB134 100%); /* Webkit (Chrome 11+) */ 
  background-image: linear-gradient(top, #FF8013 0%, #FFB134 100%); /* Proposed W3C Markup */
}
.btn.primary:hover {
  background-position: 0;

  background-image: -ms-linear-gradient(top, #FFB134 0%, #FF8013 100%);   /* IE*/  
  background-image: -moz-linear-gradient(top, #FFB134 0%, #FF8013 100%); /* Mozilla Firefox */
  background-image: -o-linear-gradient(top, #FFB134 0%, #FF8013 100%); /* Opera */  
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFB134), color-stop(1, #FF8013)); /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-linear-gradient(top, #FFB134 0%, #FF8013 100%); /* Webkit (Chrome 11+) */ 
  background-image: linear-gradient(top, #FFB134 0%, #FF8013 100%); /* Proposed W3C Markup */
}

.home_page .search_box .btn.primary {
  font-weight:normal;
  font-size:12px;
}

.btn.success {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.home_page .search_box h2{
  color:#002358;
  font-size:32px;
  font-weight:bold;
}
.home_page .search_box .offset6 {
margin-left:0px;
margin-top:5px;
width:320px;
}

.home_page .search_box .type_select {
  margin: 10px 0 25px 0;
  width:413px;
}

.home_page .cta_box {
  margin-bottom: 20px;
  background: #666;
  color: #eee;
  padding: 15px;
}

.home_page .cta_box span {
  font-size: 18px;
}
.home_page .cta_box a {
  color: #eee;
  text-decoration: underline;
}
.home_page .info_box ul {
  list-style: square;
}
.home_page .info_box ul li {
  line-height: 2em;
}
.home_page .info_box .btn {
  text-align: center;
}
.home_page .span8 {
  border: 3px solid #EEE;
  width:965px;
  }
.home_page .perfect_tool_carousel {
 background: transparent url('/images/home_computer.png')0 0 no-repeat;
 float:left;
 height:248px;
 margin-top:20px;
 padding-right:20px;
}

.home_page .perfect_tool_carousel h2{
  float:right;
}
.home_page .perfect_tool_carousel p{
  float:right;
  padding-left:397px;
}
.home_page .perfect_tool_carousel .btn.primary {
  float:right;
  margin-right:411px;
}

 /* Subscription Code *********************************************/
.subscription_box{
  margin-top:20px;
}
.subscription_box ol{
  background-color:#EDEDED;
  border: 1px solid #C2C2C2;
  margin-left:0px;
  padding-bottom:5px;
  padding-right:10px;
  display:table;
}
.subscription_box li {
  color:#fa6507;
  float: left;
  font-size:22px;
  font-weight:bold;
  vertical-align: top;
  list-style-position:inside;
}
.subscription_box li p {
  display:block;
  color:#696969;
  font-size:14px;
  font-weight:normal;
  } 
.step_one {
    width:195px;
}
.step_one h3 {
text-align:center;
}

.step_one p {
  padding-left:22px;
  padding-right: 33px;
}
.step_one .btn.primary{
  font-size:12px;
  width:48px;
  margin-left:22px;
  padding: 2px 2px 2px 2px;
}
.step_two {
    width:240px;
    border-left:1px dotted #c2c2c2;
    padding-left:2px;
    }
div.step_two p {
  padding-left: 22px;
  padding-right: 3px;
}

.step_two_btn_container{
  display:block;
  padding-left:0px;
  padding-right:445px;
}
.step_two .btn.primary{
  font-size: 12px;
  margin-top: 5px;
  margin-left:22px;
  width: 169px;
  padding: 2px 2px 2px 2px;
  text-align: center;
}
.step_three {
    border-left:1px dotted #c2c2c2;
    width:245px;
    height:195px;
    padding-left:3px;
}
.step_three p {
padding-left:22px;
}
.step_three .btn.primary{
  font-size:12px;
  padding: 2px 2px 2px 2px;
  margin-left:22px;
}

.subscription_plans .head {
  background-color:#edeef0;
}
.subscription_plans  {
  border:1px solid #c2c2c2;
  margin-top:20px;
}
.subscription_plans h3{
  color:#676767;
  padding-left:5px;
}
.subscription_plans .btn.primary {
  font-size: 12px;
  font-weight:bold;
  width: 53px;
  height: 10px;
}
.explanation ul li{
  font-size: 14px;
  font-weight:normal;
}
.message {
  padding: 0.5em;
  font-weight: bold;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.message.alert {
  background-color: #E44;
  color: #EEE;
}
.message.notice {
  background-color: #EE4;
  color: #444;
}
.container_12 .grid_1point5 {
  width: 90px;
}
label {
  font-weight: bold;
  padding-top: 0;
  padding-right: 10px;
}

address {  
  margin-bottom: 0;
}

table th { font-weight: bold; }
table td {
  padding-right: 1em;
}
table {
  border-collapse: separate;
  border-spacing: 2px;
  padding-bottom:42px;
}

table a.nav {
  display: block;
  padding: 16px 0 0 0;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 0px !important;
  height /**/:16px;
}
table a.nav.nav-edit { background-image: url("../images/table_edit.png"); width: 16px; }
table a.nav.nav-destroy { background-image: url("../images/cross.png"); width: 16px; }

table.project_bids {
  width: 100%;
}

table.project_bids tr th {
  border-bottom: solid 1px #999;
}
table.project_bids tr th.bidder {
  width: 10%;
}
table.project_bids tr th.bid_date {
  width: 12%;
}
table.project_bids tr th.total {
  width: 50%;
  text-align: right;
  padding-right: 1em;
}

ul.line_items {
  list-style: none;
  margin: 0;
}
ul.line_items li {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background: #EEE;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
ul.line_items li > div{
  margin: 8px;
}
ul.line_items li strong {
  font-size: 16px;
  font-weight: bold;
  padding-right: 8px;
}
ul.line_items li span.units {
  float: right;
  font-weight: bold;
  padding-top: 5px;
}
table tr.odd,
ul li.odd {
  background-color: #ddd;
}
ul.line_items li div.content {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}
ul.line_items li div.units {
  float: right;
  width: 127px;
  background-color: #9E9;
  padding: 8px 16px 8px 16px;
  margin: auto 0 auto 20px;
  display: block;
  border-left: 1px solid #CCC;
  min-height: 26px;
}
ul.line_items li div.units > span {
  display: block;
}
ul.line_items li div.units > span.multiply_explainer {
  font-size: 14px;
  font-weight: bold;
  margin-left: -8px;
  margin-top: -4px;
  color: #333;
}
ul.line_items li div.units > span.unit_cost {
  background: #87c442;
  font-size: 16px;
  padding: 2px 5px;
  display: inline-block;
  margin: 8px;
}

ul.line_items li div.units .input-prepend input {
  width: 88px;
}
ul.line_items li span.cnt { 
  font-size: 18px;
  font-weight: bold;
}
ul.line_items li span.label,
ul.line_items li span.cnt { 
  margin: 0 10px;
}
ul.line_items li span.line_item_units,
table.project_bids tr td.total {
  font-weight: bold;
  float: right;
  font-size: 14px;
  padding-top: 7px;
}

.modal .modal-header h3 img {
  vertical-align: top;
}
.modal .award_explanation {
  border-bottom: 1px solid #EEE;
  padding: 15px 30px;
}
#award-project-modal .modal-body.form-stacked label {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  padding-bottom: 3px;
}
#award-project-modal .modal-body.form-stacked label em {
  text-transform: none;
  font-style: normal;
}

#bid_total {
  text-align: right;
}
input[readonly] {
  background-color: #EBEBE4;
  font-style: italic;
}

form div.field.row div.field_with_errors:first-child {
  margin-left: 15px;
}
form div.field_with_errors,
form div.field_with_errors input,
form div.field_with_errors label {
  color: #B94A48;
  border-color: #EE5F5B;
  background: none;
}

.row > [class*="span"].alpha {
  margin-left: 0;
}

.datetime-field select[id*="_2i"] {
  width: 90px;
}
.datetime-field select[id*="_4i"] {
  width: 65px;
}
.datetime-field select {
  width: 54px;
}

label span.message {
  padding: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  float: right;
  color: #fff;
}
label span.message.owner {
  background-color: #008000;
}
label span.message.viewer {
  background-color: #EE4444;
}
label span.message.bad_address {
  background-color: #FF4800;
}

.conversation .subject {
  font-size: 1.2em;
  font-weight: bold;
}
.conversation .date {
  font-size: 10px;
  border: none;
  width: auto;
  text-align: left;
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
} 
.conversation .message {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
} 
.conversation .message p {
  padding: 5px 0;
}
.conversation .message p.message_actions {
  padding: 10px;
  border-top: 1px solid #ddd;
}
.conversation .actions {
  margin-top: 0;
} 
.conversation_full .title h2 {
  font-size: 18px;
  line-height: 22px;
  color: #42AAF1;
}
.conversation_full .action .btn {
  text-transform: uppercase;
}


.track-page .tabs,
.search-page .tabs { 
  margin-bottom: 0; 
}
/*
ul.search_tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}
ul.search_tabs li {
  display: inline;
  border: 1px solid #999;
  border-bottom-width: 0;
  margin: 0 0.5em 0 0;
  background: #999;
  padding: 1px 30px;
  color: #eee;
}
ul.search_tabs li a {
  color: #eee;
  text-decoration: none;
}
ul.search_tabs li:hover,
ul.search_tabs li a:hover
ul.search_tabs li.selected {
  background: white;
  color: #333;
}
*/

.track_header,
.search_header {
  padding-top: 10px;
}
.track_filters,
.search_filters {
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px 4px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 1px 1px 2px 4px rgba(215, 215, 215, 0.5);
  box-shadow: 1px 1px 2px 4px rgba(215, 215, 215, 0.5);
  padding: 10px;
}

.search_filters h5 {
  color: #0a1863;
  line-height: 26px;
  text-transform: uppercase;
}
.search_filters h6 {
  color: #333;
  text-transform: none;
}

.search_filters form {
  margin-bottom: 0;
}

.search_filters div.filter {
  border-top: 1px solid #ddd;
  padding: 10px 0;
  min-height: 20px;
}
.search_filters div.filter_q input {
  width: 188px;
}

.home_page .search_box table td,
.search_filters div.filter.filter_location table td {
  padding: 0;
  border: none;
  text-align: center;
}
.home_page .search_box table td {
  text-align: left;
  padding: 0 5px 0 0;
}
strong.strong_privacy {
  float:left;
  padding-right:5px;
  padding-top:2px;
}
li.li_privacy  {
  list-style:none;
}

.track_filters ul,
.search_filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.search_filters ul li {
  margin-left: 0;
}
.track_filters ul li { 
  margin-left: 0;
  border-bottom: 1px dotted #ddd;
}
.track_filters ul li a { 
  display: block;
  padding: 5px 10px;
  margin: 5px 0;
  font-weight: bold;
  color: #333;
}
.track_filters ul li.active a {
  background: #eee;
  color: #f77010;
}
.track_filters ul li:hover a {
  background: #eee;
}

.track_filters dl {
  margin: 20px 10px 30px 10px;
  font-size: 10px;
  line-height: 14px;
}
.track_filters dl dt {
  float: left;
  display: inline;
  font-weight: normal;
}
.track_filters dl dd {
  left: 5px;
  position: relative;
  font-weight: bold;
}
.track_filters h3,
.track_filters p {
  margin: 10px;
}

h1.search_header {
  font-weight: normal;
}
h1.search_header span {
  font-weight: bold;
}
.search_result {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding: 10px 0;
}
.search_result.bid .project_avatar,
.search_result.bid .profile_avatar {
  margin: 6px;
}
.search_result.no_result {
  padding: 18px;
  border-color: #FF6502;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #eeeeee 0%,#ffffff 100%);
  background: -o-linear-gradient(top, #eeeeee 0%,#ffffff 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 100%);
  background: linear-gradient(top, #eeeeee 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}
.search_result.no_result h1,
.search_result.no_result h2 {
  font-size: 22px;
  line-height: 28px;
  margin: 15px;
}
.search_result.no_result h2 {
  font-weight: normal;
}
.search_result.no_result h4 {
  display: inline;
}
.search_result.no_result a {
  float: right;
}

.notification_result {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ddd;
}
.search_result {
  border: 1px solid #ddd;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
}
.search_result .posted {
  float: right;
  margin-right: 10px;
  font-size: 11px;
}
.search_result .posted img {
  height: 11px;
  padding: 2px;
  vertical-align: text-bottom;
}
.notification_result img.project_cover_image,
.notification_result img.profile_avatar,
.search_result img.project_cover_image,
.search_result img.profile_avatar {
  padding: 10px;
}
.notification_result .result_name,
.search_result .result_name {
  padding-top: 6px;
  font-size: 26px;
  line-height: 32px;
}
.notification_result .result_name h6 {
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}
.notification_result .result_numbers {
  text-align: right;
}
.notification_result .result_numbers .btn {
  width: 55px;
  margin: 3px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.notification_result .result_numbers .btn img {
  float: left;
}
.search_result .result_image,
.search_result .result_body,
.search_result .result_infos {
  display: inline;
  float: left;
  margin-left: 10px;
}
.search_result .result_image {
  margin: 12px;
}
.search_result .result_body {
  width: 400px;
}
.search_result .result_infos {
  width: 158px;
}
.search_result.bid .result_numbers {
  background-color: #9E9;
}
.search_result .result_location {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}
.search_result .result_numbers {
  padding: 16px;
  background-color: #eee;
  background: -moz-linear-gradient(left, #eeeeee 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eeeeee), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(left, #eeeeee 0%,#ffffff 100%);
  background: -o-linear-gradient(left, #eeeeee 0%,#ffffff 100%);
  background: -ms-linear-gradient(left, #eeeeee 0%,#ffffff 100%);
  background: linear-gradient(left, #eeeeee 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=1 );
  border-left: 1px solid #ccc;
}
.credit_value,
.credit_value .label {
  font-size: 13px;
  font-weight: bold;
  padding: 3px 8px;
  margin-bottom: 5px;
}
ul.line_items li div.units .line_item_total,
.search_result .result_numbers strong {
  color: #40c730;
  font-size: 22px;
  font-weight: bold;
  display: block;
}
.search_result .result_numbers em {
  font-size: 18px;
  font-style: normal;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: super;
}
.search_result .result_numbers dl {
  display: inline-block;
  margin: 5px 10px 5px 10px;
}
.search_result .result_numbers dl dd {
  margin-left: 0;
  font-weight: bold;
  line-height: 10px;
}
.search_result .result_numbers label,
.search_result .result_numbers dl dt {
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  color: #666;
}
.search_result .result_numbers a.btn {
  width: 96px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.search_result.bid.award_cta {
  background: #ddd;
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #aaa;
}
.search_result.bid.award_cta h1 {
  margin-bottom: 0;
  color: #fc7d01;
}
.search_result.bid.award_cta p {
  margin: 10px 0;
  padding: 15px 110px;
  font-size: 16px;
  border-top: 1px dotted #aaa;
  border-bottom: 1px dotted #aaa;
}
.search_result.bid.award_cta .award_message {
  border: 1px solid #aaa;
  background-color: #fff;
  margin: 10px 20px;
  color: #666;
  text-align: left;
  padding: 10px 20px;
  font-size: 14px;
}
.search_result.bid.award_cta .award_message .signature {
  text-align: right;
  display: block;
}
.search_result.bid.award_cta .award_actions .btn {
  margin: 0 30px;
}
.search_result.bid.award_cta .btn.large {
  text-transform: uppercase;
}
.search_result.bid.award_cta .btn.large.primary {
  font-weight: bold;
}

.track_results .profile_avatar,
.track_results .project_avatar {
  margin: 10px;
}

.results_order {
  border: 1px solid #ddd;
  background: #eee;
  margin: 5px 0;
  padding: 5px;
  text-align: right;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.results_order a {
  color: #666;
  padding: 0 5px;
  font-weight: bold;
}
.results_order a.active {
  font-weight: bold;
}

.track-page h1 img {
  padding: 5px;
  background: #DDD;
  top: 5px;
  position: relative;
}

.project_bid {
  margin-right: 0;
}

.login-page .login-box {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.login-page .login-box .login-head {
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}
.login-page .login-box .login-head h6 {
  text-transform: none;
  line-height: 1em;
}

.login-page .login-box .field > label {
  text-transform: uppercase;
  font-weight: normal;
  width: 50%;
  float: left;
  padding: 0;
}
.login-page .login-box .field.remember {
  padding: 20px;
}
.login-page .login-box .field.remember label {
  text-transform: none;
}
.login-page .login-box .field a.label_link {
  width: 50%;
  float: right;
  text-align: right;
  font-size: 11px;
}
.login-page .login-box .field span.field_info {
  display: inline-block;
  vertical-align: top;
  float: right;
}
.login-page .login-box .links_field a {
  border-style: dotted;
  border-color: #ddd;
  border-width: 1px 0;
  padding: 10px;
  display: block;
}
.login-page .cta {
  text-align: center;
  padding: 20px 10px 30px 10px;
}
.login-page .login-box .links_field,
.login-page .login-box .field {
  padding: 10px 20px 0;
}
.login-page .login-box .field > .field_with_errors { 
  width: 100%;
}
.login-page .login-box .field > textarea,
.login-page .login-box .field > .field_with_errors > textarea,
.login-page .login-box .field > select,
.login-page .login-box .field > .field_with_errors > select,
.login-page .login-box .field > input,
.login-page .login-box .field > .field_with_errors > input {
  width: 98%;
}
.login-page .login-box .field > input.btn,
.login-page .login-box .field > input[type="checkbox"] {
  width: auto;
}
.login-page .login-box .field > input[type="checkbox"] {
  float: left;
  margin-right: 10px;
}

.tabs .active >a,
.tabs .active >a:hover {
  color: #fff;
  background-color: #42AAF1;
  border: 1px solid #DDD;
  border-bottom-color: transparent;
  cursor: default;
  font-weight: bold;
  border-image: initial;
}

.modal form { margin-bottom: 0; }
.reply-form.form-stacked textarea,
.modal-body.form-stacked textarea { width: 98% }

.label.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
}
.label strong {
  font-size: 36px;
  line-height: 18px;
  vertical-align: middle;
}

.settings_page table {
  border-spacing: 0;
}
.settings_page table td {
  border-top: none;
  border-bottom: 1px solid #ddd;
}
.settings_page table tbody th {
  border: none;
}
.settings_page table tbody tr:first-child {
  border: 1px solid #ddd;
  background-color: #eee;
}
.settings_page table tbody tr:first-child th:first-child {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
.settings_page table tbody tr:first-child th:last-child {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}


.project_page .project_content h4,
.profile_page .profile_content h4 {
  border-bottom:1px solid #C0C0C0;
  color:#000;
  font-size:14px;
  font-weight:bold;
  margin-bottom:15px;
  padding-bottom:5px;
  text-transform:uppercase;
  line-height: 18px;
}
.project_page .project_meta.left,
.profile_page .profile_meta.left {
  border-right: solid 1px #D0D0D0;
}
.field address p {
  font-size: 18px;
  font-weight:normal;
  font-family: verdana, arial, helvetica;
  color:#000;  
}

input, textarea {
  -webkit-transform-style: flat;
}
.text_align_right { text-align: right; }
.float_right { float: right; }
  

