.profile_sidebar {
  background-color: #FFF;
  border: 2px solid #DDD;
  float:right;
  margin-bottom: 20px;
  padding: 10px;
}
.profile_page  .tabs{
  margin-bottom:0;
  padding-left:220px;
}
.box.profile_avatar {
  float:left;
  margin-top:6px;
  padding-right:10px;
}
.profile-container {
  display:inline;
}
.profile_page .top-banner {
  padding-left:220px;
}
.top-banner .profile_page {
  padding-left:200px
}
.profile_header  ul li {
  list-style:none
}
.profile_header .profile_actions {
  margin-top: 6px;
  float: right;
}
.profile_page .field label {
  font-size: 11px;
}
.profile_page .field address p {
  font-size: 18px;
}

.profile_page .profile_meta label {
  width: auto;
}

.profile_page .profile-form .field {
  padding: 10px 20px 0;
}
.profile_page .profile-form .field > .field_with_errors {
  width: 100%;
}

.profile_page .profile-form .field > textarea,
.profile_page .profile-form .field > .field_with_errors > textarea,
.profile_page .profile-form .field > select,
.profile_page .profile-form .field > .field_with_errors > select,
.profile_page .profile-form .field > input,
.profile_page .profile-form .field > .field_with_errors > input {
  width: 98%;
}
.profile_page .profile-form .field > input.btn,
.profile_page .profile-form .field > input[type="checkbox"] {
  width: auto;
}
.profile_page .profile-form .field > input[type="checkbox"] {
  float: left;
  margin-right: 10px;
}
