
.profile_page  .tabs{
  margin-bottom:0;
  padding-left:220px;
}
.profile-container {
  display:inline;
}
.profile_page .top-banner {
  padding-left:220px;
}
.top-banner .profile_page {
  padding-left:200px
}
.profile_header  ul li {
  list-style:none
}
.profile_header .profile_actions {
  margin-top: 6px;
  float: right;
}
.profile_page .field label {
  font-size: 11px;
}
.profile_actions a {
  color:#656565;
  font-size:12px;
  font-weight:normal;
  text-transform:uppercase;
}
.profile_page .profile_meta label {
  text-transform:uppercase;
  font-weight:bold;
  font-size:14px;
  color:#000;
}
.profile_page .profile_meta label {
  width: auto;
}
.profile_page .profile-form .field {
  padding: 10px 20px 0;
}
.profile_page .profile-form .field > .field_with_errors {
  width: 100%;
}

.profile_page .profile-form .field > textarea,
.profile_page .profile-form .field > .field_with_errors > textarea,
.profile_page .profile-form .field > select,
.profile_page .profile-form .field > .field_with_errors > select,
.profile_page .profile-form .field > input,
.profile_page .profile-form .field > .field_with_errors > input {
  width: 98%;
}
.profile_page .profile-form .field > input.btn,
.profile_page .profile-form .field > input[type="checkbox"] {
  width: auto;
}
.profile_page .profile-form .field > input[type="checkbox"] {
  float: left;
  margin-right: 10px;
}

.sidebar_box h1 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  padding:5px;
}
.sidebar_box.sidebar_number strong,
.sidebar_box.sidebar_number div {
  padding-top:10px;
  }
.profile_header h1 {
  margin-bottom:5px;
}
.profile_header h4 {
  line-height: 28px;
}
  
.profile_header.row{
  margin-bottom:5px
}
.profile_actions .span6 {
  padding-top:10px;
  }
.profile_header .span8,
.profile_actions {
  padding-top:10px;
}
  
.profile_page .span12  {
  width: 647px;
  margin-right: 52px;
}
  


.profile_page .profile_meta  label {
  font-size:12px;
  font-weight:bold;
}
.profile_page .profile_meta.right  label {
  width:82px;
  text-align:right;
}
.profile_page .span10 .description {
  border-bottom: 1px solid #D0D0D0;
  font-size:14px;
  font-weight:bold;
  padding-bottom:5px;
}

.sidebar_box.sidebar_number span {
  color:#686868;
  font-weight:bold;
}

.sidebar_box.help_box p {
  border-bottom: 1px dotted #666;
  padding-bottom: 10px;
}

.sidebar_box .sidebar_flag label, 
.sidebar_box .sidebar_flag {
  background-color: #666;
  color: #eee;
  font-size: 14px;
  text-transform: uppercase;
}
.sidebar_box .sidebar_flag {
  margin: -10px -20px 10px -20px;
  padding: 10px;
  position: relative;
}
.sidebar_box .sidebar_flag .sidebar_triangle {
  width: 0;
  height: 0;
  border-bottom: 9px solid transparent;
  border-top: 9px;
  position: absolute;
  bottom: -9px;
}
.sidebar_box .sidebar_flag .sidebar_triangle.left {
  border-right: 9px solid #333;
  left: 0;
}
.sidebar_box .sidebar_flag .sidebar_triangle.right {
  border-left: 9px solid #333;
  right: 0;
}
.sidebar_box .sidebar_flag label.award,
.sidebar_box .sidebar_flag span.award {
  color: orange;
}

.profile_sidebar {
  height: 95px;
  padding: 0 0 0px 0;
  background-color: #FFF;
  border: 2px solid #DDD;
  float:right;
  margin-bottom: 20px;
  width: 280px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #D2D2D2;
  border-image: initial;
}

.profile_sidebar  .head{
  background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(237, 234, 227, 1) 100%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(237, 234, 227, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(100%,rgba(237, 234, 227, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(237, 234, 227, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(237, 234, 227, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(237, 234, 227, 1) 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(237, 234, 227, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeae3',GradientType=0 );
  height:27px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid transparent;
}
