/**
 * Adapted from http://www.emirplicanic.com/css/css-step-by-step-menu-wizard-style
 */

   





 
 
/* = STEPS CONTAINER
----------------------------*/
.wizard-steps {
    margin:20px 10px 0px 10px;
    padding:0px;
    position: relative;
    clear:both;
    font-weight: bold;
}
.wizard-steps div {
    position:relative;
    margin-right:0;
}

/* = STEP NUMBERS
----------------------------*/
.wizard-steps span {
    color:#999999;
    background:#f2f2f2;
    border: 2px solid #dddddd;
    display: block;
    float: left;
    font-size: 10px;
    text-align:center;
    width:15px;
    margin: 2px 5px 0px 0px;
    line-height:15px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
/* = DEFAULT STEPS
----------------------------*/
.wizard-steps p {
    position:relative;
    display:block;
    width:auto;
    height:24px;
    margin-right: 18px;
    padding:0px 10px 0px 3px;
    float: left;
    font-size:11px;
    line-height:24px;
    color:#666;
    background: #F0EEE3;
    text-decoration:none;
    text-shadow:1px 1px 1px rgba(255,255,255, 0.8);
}
.wizard-steps p:before {
    border:none;
    width:0px;
    height:0px;
    position: absolute;
    content: "";
    top: 0px;
    left: -12px;
}
.wizard-steps p:after {
    width: 0;
    height: 0;
    border:none;
    position: absolute;
    content: "";
    top: 0px;
    right: -12px;
}

 
/* = COMPLETED STEPS
----------------------------*/
 
.wizard-steps .completed-step p {
    color:#163038;
    background: #A3C1C9;
}
.wizard-steps .completed-step p:before {
    border-top: 12px solid #A3C1C9;
    border-bottom: 12px solid #A3C1C9;
}
.wizard-steps .completed-step p:after {
    border-left: 12px solid #A3C1C9;
}
.wizard-steps .completed-step span {
    border: 2px solid #163038;
    color: #163038;
    text-shadow:none;
}
/* = ACTIVE STEPS
----------------------------*/
.wizard-steps .active-step p {
    color:#A3C1C9;
    background: #163038;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}
.wizard-steps .active-step p:before {
    border-top: 12px solid #163038;
    border-bottom: 12px solid #163038;
}
.wizard-steps .active-step p:after {
    border-left: 12px solid #163038;
}
.wizard-steps .active-step span {
    color: #000;
    background: #fff;
    border: 2px solid #ff6600;
    -webkit-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    -moz-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    text-shadow:none;
}
wizard-steps .active-step strong,
 .wizard-steps strong{
  text-transform: uppercase;
 }
 


/* = HOVER STATES
----------------------------*/
.wizard-steps .completed-step:hover p, .wizard-steps .active-step:hover p {
    color:#fff;
    background: ##ff6600;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}
.wizard-steps .completed-step:hover span, .wizard-steps .active-step:hover span {
    color:#000;
}
.wizard-steps .completed-step:hover p:before, .wizard-steps .active-step:hover p:before {
    border-top: 12px solid #b1b1b1;
    border-bottom: 12px solid #b1b1b1;
}
.wizard-steps .completed-step:hover p:after, .wizard-steps .active-step:hover p:after {
    border-left: 12px solid #ff6600;;
}
