/**
 * Adapted from http://www.emirplicanic.com/css/css-step-by-step-menu-wizard-style
 */

/* = STEPS CONTAINER
----------------------------*/
.wizard-steps {
    margin:20px 10px 0px 10px;
    padding:0px;
    position: relative;
    clear:both;
    font-weight: bold;
}
.wizard-steps div {
    position:relative;
}
/* = STEP NUMBERS
----------------------------*/
.wizard-steps span {
    color:#999999;
    background:#f2f2f2;
    border: 2px solid #dddddd;
    display: block;
    float: left;
    font-size: 10px;
    text-align:center;
    width:15px;
    margin: 2px 5px 0px 0px;
    line-height:15px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* = DEFAULT STEPS
----------------------------*/
.wizard-steps div{
  margin-right:0;
 }
 
.wizard-steps p {
    color:#999999;
    background:#dddddd;
    margin-right:0;
    padding-right:15px;
    position:relative;
    display:block;
    width:auto;
    height:24px;
    float: left;
    font-size:11px;
    line-height:24px;
    text-decoration:none;
    text-shadow:1px 1px 1px rgba(255,255,255, 0.8);
}

.wizard-steps p:before {
    border:none;
    width:0px;
    height:0px;
    position: absolute;
    content: "";
    top: 0px;
    left: -12px;
}
.wizard-steps p:after {
    border:none;
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    top: 0px;
    right: -12px;
}
 
/* = COMPLETED STEPS
----------------------------*/
 
.wizard-steps .completed-step p {
    color:#163038;
    background: #A3C1C9;
}
.wizard-steps .completed-step p:before {
    border-top: 12px solid #A3C1C9;
    border-bottom: 12px solid #A3C1C9;
}
.wizard-steps .completed-step p:after {
    border-left: 12px solid #A3C1C9;
}
.wizard-steps .completed-step span {
    border: 2px solid #163038;
    color: #163038;
    text-shadow:none;
}
/* = ACTIVE STEPS
----------------------------*/
.wizard-steps .active-step p {
    color: #ffffff;
    background: #ff6600;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}

.wizard-steps .active-step p:before {
    border-top: 12px solid #163038;
    border-bottom: 12px solid #163038;
}
.wizard-steps .active-step p:after {
    border-left: 12px solid #163038;
}
.wizard-steps .active-step span {
    color: #000;
    background: #fff;
    border: 2px solid #ff6600;
    -webkit-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    -moz-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    text-shadow:none;
}

/* = BOTH .wizard-steps .active-step span AND .wizard-steps span
----------------------------*/
.wizard-steps .active-step span,
.wizard-steps span{
  border-radius:15px;
  font-size:14px;
  font-weight:bold;
  line-height:29px;
  margin: -5px 5px 0px -7px;
  text-transform:uppercase;
  width:29px;
}

wizard-steps .active-step strong,
 .wizard-steps strong{
  text-transform: uppercase;
 }


/* = HOVER STATES
.wizard-steps .completed-step:hover p, 
.wizard-steps .active-step:hover p {
    color:#fff;
    background: #8F061E;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}
.wizard-steps .completed-step:hover span, 
.wizard-steps .active-step:hover span {
    color:#8F061E;
}
.wizard-steps .completed-step:hover p:before, .wizard-steps .active-step:hover p:before {
    border-top: 12px solid #8F061E;
    border-bottom: 12px solid #8F061E;
}
.wizard-steps .completed-step:hover p:after, .wizard-steps .active-step:hover p:after {
    border-left: 12px solid #8F061E;
}
----------------------------*/
